extends ../_layout

block vars
  - p = projectsTable['programming-as-communication'];
  - title = 'Programming as Communication';
  - description = 'Throughout this work, we investigate how to make programming activities more inclusive and collaborative, involving people with diverse technical backgrounds. A programming environment does not need to be only for programmers. We consider that it should instead be designed for users with diverse technical backgrounds.';
  - imageUrl = `${protocol}://${domain}${rootPath}images/panels/programming-as-communication.png`;
  - me = 'programming-as-communication/';

block main
  +render-project-header('programming-as-communication')
  .ui.hidden.divider
  section#abstract: +abstract()
  .ui.hidden.divider
  section#presentation: +presentation()
  .ui.hidden.divider
  section#technical-effort: +technical-effort()
  .ui.hidden.divider
  section#social-effort: +social-effort()
  .ui.hidden.divider
  +render-project-publications(p.project, p.publication)
  .ui.hidden.divider
  section#revision: +revision()

mixin abstract()
  h2.ui.header #{en ? 'Summary' : '概要'}
  .ui.basic.segment
    block abstract
      p Computers have become ubiquitous in our life and work, and the way they are programmed needs 
        a(href=`${basePath}programming-with-examples`) fundamental improvements
        | . The prior effort often aims at improving programming experience for people with specific technical backgrounds (e.g., 
        a(href=`${basePath}live-programming`) programmers
        | , end-users, data scientists), respectively.
      p In contrast, throughout this work, we investigate how to make programming activities more inclusive and collaborative, involving people with diverse technical backgrounds. &quot;A programming environment&quot; does not need to be only for programmers. We consider that it should instead be designed for users with diverse technical backgrounds.
      p Such inclusive design enables the users to communicate with each other through programming-related activities, delivers benefits of programming to all of them, and would give empowerment to them.

mixin presentation()
  h2.ui.header #{en ? 'Presentation materials' : '発表資料'}
  .ui.basic.segment
    .ui.stackable.two.columns.grid
      .column
        h3.ui.header <abbr title="Convivial Computing Salon 2020">CCS</abbr> #{en ? 'talk': '講演動画'}
        +embed-youtube('//www.youtube.com/embed/qR2MAfRFBIM?cc_lang_pref=en&cc_load_policy=1')
        .caption: .ui.horizontal.list
          .item
            a(href='//www.youtube.com/watch?v=qR2MAfRFBIM&cc_lang_pref=en&cc_load_policy=1')
              i.youtube.icon
              | YouTube
          .item
            a(href='//vimeo.com/416361135')
              i.vimeo.icon
              | Vimeo
      .column
        h3.ui.header <abbr title="Convivial Computing Salon 2020">CCS</abbr> #{en ? 'slides' : '発表スライド'}
        .ui.embed(data-url=publicationsTable[p.publication].entryTags.slides, data-placeholder=`${rootPath}programming-as-communication/ccs2020/ccs2020-kato-slides00.jpg`, data-icon='video play outline')
        .caption: .ui.horizontal.list
          .item
            a(href=publicationsTable[p.publication].entryTags.slides)
              i.download.icon
              | #{en ? 'Download' : 'ダウンロード'}
    .ui.divider
    block presentation-description
      .ui.list
        .item YouTube version has calibrated volume and subtitles while the Vimeo version is more extended and has a critique by <a href="https://tcher.tech/">Philip Tchernavskij</a> and Q&amp;A session.
        .item For more details on the salon, please refer to <a href="https://2020.programming-conference.org/home/salon-2020">its website</a>.
        .item The paper can be downloaded in the <a href="#publications">Publications</a> section at the bottom of this page.

mixin technical-effort()
  h2.ui.header
    i.laptop.code.icon
    .content #{en ? 'Technical environment design' : '技術的環境設計'}
  .ui.basic.segment
    block technical-effort
      img.ui.fluid.bordered.image(src=`${rootPath}programming-as-communication/runtime-env-as-programming-env.png`)
      .caption
        p We can design a runtime environment that is the same as the programming environment except for its dedicated graphical user interfaces for people who might not have prior knowledge of programming.
        p The following projects are concrete examples of such technical programming environment-design that realize &quot;Programming as Communication.&quot; To see them in action, 
          a(href=`${basePath}f3js`) f3.js
          |  implements both of them and is available at 
          a(href="https://f3js.org") https://f3js.org
          | .
  .ui.segment
    .ui.divided.items.projects
      - let technicalProjects = ['user-generated-variables', 'live-tuning'].map(key => projectsTable[key])
      - for (const p of technicalProjects) {
      //- skip concept, committee, and private projects
      - if (p.category === 'concept' || p.category === 'committee' || p.category === 'private') continue;
      //- 
      - if (!Array.isArray(p.tags) || p.tags.indexOf('programming-as-communication') < 0) continue;
      +render-project-item(p)
      - }

mixin social-effort()
  h2.ui.header
    i.user.friends.icon
    .content #{en ? 'Social environment design' : '社会的環境設計'}
  .ui.basic.segment
    block social-effort
      img.ui.fluid.bordered.image(src=`${rootPath}programming-as-communication/evangelist-in-env.png`)
      .caption
        p We can design a programming environment consisting of an evangelist and computational artifacts.
        p In the ongoing 
          a(href="https://www.jamesdysonaward.org/en-GB/2016/project/oton-glass/") OTON GLASS
          |  project, we have been implementing a programming environment centered on a visually impaired person, or a &quot;maker,&quot; who wants to build customized smart glasses. The programming environment consists of not only computational artifacts (a toolkit consisting of hardware components and software <abbr title="Application Programming Interfaces">APIs</abbr>) but also an evangelist who serves as an organic aid to utilize the toolkit.

mixin revision()
  h2.ui.header
    i.announcement.icon
    | #{en ? 'Revision history' : '更新履歴'}
  .ui.basic.segment: .ui.divided.feed
    block news
      .event: .content
        .date 5/15/2020
        .summary Add preprint of the paper.
      .event: .content
        .date 5/9/2020
        .summary Add presentation recording and slides.
      .event: .content
        .date 4/1/2020
        .summary Upload the initial revision.