extends ../_layout

include ./_timeline-components

block vars
  - title = en ? 'Timeline' : '活動履歴';
  - description = en ? "Timeline of Dr. Jun Kato's research and design portfolio, showing website updates and publication records in chronological order." : "加藤 淳の研究・デザインのポートフォリオWebサイトの活動履歴です。Webサイトの更新情報と発表文献を時系列で紹介しています。";
  - me = 'timeline/';
  - var bodyClass = 'with-rail';

block main
  .left-rail
    +timeline-menu()
  .right-content
    +timeline()

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.mobile-only.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup
    +timeline-menu()

mixin timeline-menu()
  .ui.divided.list
    a.item(href='#body')
      i.chevron.circle.up.icon
      .content #{title}
    - const oldestYear = en ? 2011 : 2010;
    - for (var year = new Date().getFullYear(); year >= oldestYear; year --) {
    a.item(href=`#${year}`)
      i.right.triangle.icon
      .content #{year}
    - }

mixin timeline()
  section
    h1.ui.header
      i.history.icon
      .content #{title}
    block description
      p This page shows updates to the website as well as 
        a(href=`${rootPath}publications`)
          i.book.icon
          | publication records
        |  in their chronological order.
  -
    var i = 0, year = new Date().getFullYear();
    while (i < histories[lang].length) {
      const y = year;
  .ui.hidden.divider
  section(id=y)
    h2.ui.header #{en ? y : `${y}年`}
    - if (en) {
    p To view only the activities in this year, click 
      a(href=`${basePath}timeline/${y}/`) here
      | .
    - } else {
    p この年の活動だけを表示するには
      a(href=`${basePath}timeline/${y}/`) こちら
      | をクリックしてください。
    - }
    h3.ui.header(id=`${y}-updates`)
      i.announcement.icon
      | #{en ? 'Updates' : '更新情報'}
    .ui.segment
      .ui.divided.feed
        -
          var i_ = i;
          while (i < histories[lang].length) {
            const entry = histories[lang][i];
            if (entry.date.getFullYear() !== year) {
              year = entry.date.getFullYear();
              break;
            }
        +update(entry)
        -
            i ++;
          }
          if (i === i_) {
        +update(null)
        - }
    +all(function (year) { return y === year; }, y)
  - }
  - const y = --year;
  .ui.hidden.divider
  section(id=y)
    h2.ui.header #{en ? `${y} and before` : `${y}年とそれ以前`}
    +all(function (year) { return y >= year; }, y)
