extends ../_layout

block vars
  - var title = en ? 'Timeline' : '活動履歴';
  - var me = 'timeline/';
  - var containerClass = 'with-rail timeline';

block main
  .ui.left.rail
    .ui.sticky
      .ui.secondary.pointing.vertical.menu
        - for (var year = 2018; year > 2010; year --) {
        a.item(href=`#${year}`) #{year}
        - }
  h1.ui.header
    i.history.icon
    .content #{title}
  - var i = 0, year = histories[lang][0].date.getYear() + 1;
  - while (i < histories[lang].length) {
  - const y = year + 1900;
  h2.ui.header(id=y) #{en ? y : `${y}年`}
  h3.ui.header(id=`${y}-updates`) #{en ? 'Updates' : '更新情報'}
  .ui.segment
    .ui.divided.list.timeline
      - var i_ = i;
      - while (i < histories[lang].length) {
      - const entry = histories[lang][i];
      - if (entry.date.getYear() !== year) {
      - year = entry.date.getYear();
      - break;
      - }
      .item
        i.right.triangle.icon
        .content
          .header !{entry.text}
          .description #{entry.getDateString(lang)}
      - i ++;
      - }
      - if (i === i_) {
      .item
        i.info.circle.icon
        .content #{en ? 'No updates found in this year.' : 'この年の更新内容はありません。'}
      - }
  h3.ui.header(id=`${y}-publications`) #{en ? 'Publications' : '発表文献'}
  .ui.segment
    .ui.divided.list
      - var p = 0;
      - for (const entry of publications) {
      - if (!entry.entryTags) continue;
      - if (en && entry.entryTags.language === 'japanese') continue;
      - if (entry.entryTags.year != y) continue;
      - p ++;
      +render-publication(entry)
      - }
      - if (p === 0) {
      .item
        i.info.circle.icon
        .content #{en ? 'No publication record found in this year.' : '発表文献はありません。'}
      - }
  .ui.divider
  - }
  - const y = --year + 1900;
  h2.ui.header(id=y) #{en ? `${y} and before` : `${y}年とそれ以前`}
  h3.ui.header(id=`${y}-publications`) #{en ? 'Publications' : '発表文献'}
  .ui.segment
    .ui.divided.list
      - for (const entry of publications) {
      - if (!entry.entryTags) continue;
      - if (en && entry.entryTags.language === 'japanese') continue;
      - if (parseInt(entry.entryTags.year) > y) continue;
      +render-publication(entry)
      - }
