extends ../_layout

block vars
  - p = projectsTable['surfboard'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block main
  +render-project-header('surfboard')
  .ui.message
    block message
      | Surfboard is open-sourced at 
      a(href='https://github.com/arcatdmz/surfboard') GitHub
      | .
  .ui.hidden.divider
  section#abstract
    h2.ui.header #{en ? 'Abstract' : '概要'}
    .ui.basic.segment
      block abstract
        p We introduce a technique to detect simple gestures of &quot;surfing&quot; (moving a hand horizontally) on a standard keyboard by analyzing recorded sounds in real-time with a microphone attached close to the keyboard. This technique allows the user to maintain a focus on the screen while surfing on the keyboard. Since this technique uses a standard keyboard without any modification, the user can take full advantage of the input functionality and tactile quality of his favorite keyboard supplemented with our interface.
  .ui.hidden.divider
  .ui.stackable.two.columns.grid
    .column
      section#gestures
        h2.ui.header #{en ? 'Recognizable gestures' : '検出可能なジェスチャ'}
        .ui.basic.segment
          block gestures
            p Surfboard can recognize whether the user is surfing on a keyboard or not. When the user surfs on a keyboard, it can distinguish left to right or right to left surfing directions.
            p We have not yet tested other motions like drawing circle or more complex shapes because they would be difficult to execute on a keyboard which is generally horizontally long.
      .ui.hidden.divider
      section#hardware
        h2.ui.header #{en ? 'Supported hardware' : '対応ハードウェア'}
        .ui.basic.segment
          block hardware
            p Our prototype implementation uses a monaural microphone attached close to the keyboard of a personal computer. It needs to be attached near the right or left edge of the keyboard to distinguish surfing direction effectively. 
            p Fortunately at present, many laptop computers are equipped with a microphone, and we confirmed that Surfboard works at a quiet office and a noisy cafeteria with built-in microphones that are located at several different positions.
      .ui.hidden.divider
    .column
      +embed-youtube('//www.youtube.com/embed/QKtzsOU-sA8')
      .caption: .ui.horizontal.list
        .item
          a(href='//www.youtube.com/watch?v=QKtzsOU-sA8')
            i.youtube.icon
            | YouTube
      .ui.hidden.divider
      a.ui.fluid.image(href=`${rootPath}surfboard/fig2-microphones.jpg`)
        img(src=`${rootPath}surfboard/fig2-microphones.jpg`)
      .caption #{en ? 'Microphones attached close to keyboards' : 'キーボードの近くに設置されたマイク'}
  .ui.hidden.divider
  +render-project-publications('surfboard', 'uist2010-kato-surfboard')
