extends ../_layout

block vars
  - var p = projectsTable['textalive']
  - var title = p.getTitle(lang);
  - var me = p.project + '/';

block main
  +render-project-header('textalive')
  .ui.hidden.divider
  section#abstract
    h2.ui.header
      .content #{en ? 'Abstract' : '概要'}
    .ui.basic.segment
      - if (en) {
      p This paper presents TextAlive, a graphical tool that allows interactive editing of kinetic typography videos in which lyrics or transcripts are animated in synchrony with the corresponding music or speech.
      p While existing systems have allowed the designer and casual user to create animations, most of them do not take into account synchronization with audio signals. They allow predefined motions to be applied to objects and parameters to be tweaked, but it is usually impossible to extend the predefined set of motion algorithms within these systems.
      p We therefore propose an integrated design environment featuring
      ul
        li GUIs that designers can use to create and edit animations synchronized with audio signals,
        li integrated tools that programmers can use to implement animation algorithms, and
        li a framework for bridging the interfaces for designers and programmers.
      p A preliminary user study with designers, programmers, and casual users demonstrated its capability in authoring various kinetic typography videos.
      - } else {
      p Kinetic Typographyは、文字を動かして見せることで意味をより深く伝えられる手法として、楽曲のプロモーションなどの動画で頻繁に利用されている。しかし、歌詞を楽曲と同期してアニメーションさせる動画を制作するためには、まず、動画制作ツールの使い方に慣れる必要があった。さらに、歌詞を文字ごとに時刻同期させて動きを手付けするため、多くの手間がかかっていた。
      p TextAliveは、ウェブ上に公開されている楽曲と歌詞の時間的対応付けを自動で推定し、Kinetic Typographyを用いた動画を自動生成する。したがって、事前にツールの使い方を学ばなくても、好みの楽曲のKinetic Typography動画を楽しむことができる。また、生成された動画をウェブ上のグラフィカルなインタフェースで編集でき、一から動画を作るより大幅に少ない手間で動画を制作できる。さらに、文字の動きを定めているアルゴリズムをその場でプログラミングでき、プリセットのテンプレートに縛られない自由な表現が可能である。
      - }
  .ui.hidden.divider
  section#presentations
    h2.ui.header #{en ? 'Presentation materials' : '発表内容'}
    .ui.basic.segment
      .ui.stackable.two.columns.grid
        .column
          h3.ui.header CHI 2015 fast-forward (
            a(href='https://www.youtube.com/watch?v=ofczPQZaWMk&t=29s') full version
            | )
          +embed-youtube('https://www.youtube.com/embed/lOdt-pf5U8Q')
        .column
          h3.ui.header 
  .ui.hidden.divider
  section#examples
    h2.ui.header #{en ? 'Example videos' : '作例'}
    .ui.basic.segment
      .ui.stackable.two.columns.grid
        .column
          h3.ui.header #{en ? 'TextAlive Online' : 'Web版'}
            .ui.tiny.label
              i.calendar.icon
              span 2015-
          +embed-youtube('https://www.youtube.com/embed/videoseries?list=PL1B4fGaIHgNvGAZyWnPDFo9Lm_yICuduo')
          - if (!en) {
          p.caption Web版のTextAliveは現在も開発が続けられています。この作例は、アイドルのライブなどのイベントで利用されたものです。 
            a(href='http://textalive.jp') textalive.jp
            |  にアクセスすれば、誰でも動画を制作できます。
          - }
        .column
          h3.ui.header #{en ? 'TextAlive Desktop' : 'デスクトップ版'}
            .ui.tiny.label
              i.calendar.icon
              span 2014-2015
          +embed-youtube('https://www.youtube.com/embed/videoseries?list=PLb6OjFoBksmvynuorZNBLnciakayGToDe')
          - if (!en) {
          p.caption デスクトップ版のTextAliveは研究用プロトタイプとして開発されました。この作例は、プログラマや音楽動画制作者の方々を対象としたユーザスタディなどで制作されたものです。
          - }
        //.column: .ui.embed
          iframe(src='https://www.youtube.com/embed/videoseries?list=PL1B4fGaIHgNvsugta-O1FPbW6hzaP8jXe', frameborder='0', allowfullscreen='')
        //.column: .ui.embed(data-url="sigmus104-kato-textalive-example-1.mp4")
  .ui.hidden.divider
  section#news
    h2.ui.header
      i.announcement.icon
      .content #{en ? 'News' : 'ニュース'}
    .ui.basic.segment: .ui.divided.feed
      .event
        - if (en) {
        .content
          .date 2016/1/25
          .summary
            a(href='http://textalive.jp') TextAlive has been publicly available as a web service
            |  after the press release on 9/8/2015 which was then 
            a(href='http://www.aist.go.jp/aist_e/latest_research/2016/20160125/en20160125.html') translated into English
            | . Please have it a try!
        - } else {
        .content
          .date 2015/9/8
          .summary
            | 本研究は
            a(href='http://www.aist.go.jp/aist_j/press_release/pr2015/pr20150908/pr20150908.html') プレスリリース
            | と同時に
            a(href='http://textalive.jp') Webサービスとして一般公開
            | を始めました。ぜひお試しください。
        - }
  .ui.hidden.divider
  +render-project-publications('textalive', 'chi2015-kato-textalive')
