extends _layout

block homehack-main
  h2.ui.header
    - if (en) {
    | Keynote speech at Home Hack Workshop
    .sub.header Japanese presentation at the domestic workshop
    - } else {
    | おうちハック発表会キーノートスピーチ
    - }
  .ui.basic.segment: .ui.stackable.grid
    .six.wide.column
      .ui.embed
        iframe(src='//www.slideshare.net/slideshow/embed_code/38527331', frameborder='0', marginwidth='0', marginheight='0', scrolling='no', allowfullscreen)
    .ten.wide.column
      p Sony CSL大和田さんとPhysVis湯村さん主催のイベント「
        a(href='https://web.archive.org/web/20170625152327/http://kadecot.net/ouch-hack/') おうちハック発表会
        | 」でキーノートスピーカーを拝命し、「
        a(href='https://www.slideshare.net/arcatdmz/home-hack', title='もっとおうちハックできるおうち開発環境に向けて─おうちハック事例集─', target='_blank') もっとおうちハックできるおうち開発環境に向けて─おうちハック事例集─
        | 」と題してこれまでの家ハック事例をまとめてご紹介しました。
      p ご紹介したプロジェクトはほとんど
        a(href='https://github.com/arcatdmz') GitHub
        | 上でソースコードが公開されています。みんなでHappy home hacking!
      - if (en) {
      p: +translate-en('homehack/index.pug')
      - }
  h2.ui.header #{en ? 'Past projects' : 'プロジェクト一覧'}
  .ui.basic.segment: .ui.items: +projects()

mixin projects()
  .item
    a.image(href=`${basePath}homehack/fungus-camera/`)
      img(src=`${rootPath}homehack/thumbnails/fungus-box.jpg`)
    .content
      a.header(href=`${basePath}homehack/fungus-camera/`) #{en ? 'Fungus Camera' : 'なめこカメラ'}
      .description
        p なめこの生育を観察する定点カメラを開発した。冷暗所（玄関）での観察を可能にするため、明かりのON→撮影→OFFを自動で行ってくれるようなデバイスを作成した。
        p ついでに、玄関の明かりのスイッチがドアから遠い問題（明かりをつけようとしている間にドアが閉まって真っ暗になる）を解決するため、このデバイスに近づくと明かりをONにして、遠ざかってしばらくするとOFFにする機能もつけた。
        - if (en) {
        p: +translate-en('homehack/index.pug')
        - }
      .extra
        .ui.horizontal.label
          i.calendar.icon
          | '12-13
  .ui.hidden.divider
  .item
    a.image(href=`${basePath}homehack/rhythm-kaden/`)
      img(src=`${rootPath}homehack/rhythmkaden.jpg`)
    .content
      a.header(href=`${basePath}homehack/rhythm-kaden/`) #{en ? 'Rhythm-Kaden' : 'リズム家電'}
      .description
        p ブラウザゲーム（音楽に合わせて上から降りてくるマーカーのタイミングに合わせてキーを押して得点を稼ぐ音楽ゲーム
          a(href='http://otoge.net/') otoge.net
          | ）の進行を家電製品が盛り上げてくれるアプリケーションを、お茶の水女子大学 西村、神奈川工科大学 藤崎とともに提案、開発した。
        p 本アプリケーションは、Sony CSLとお茶の水女子大学の共催ワークショップ「Home Hacker’s Workshop」の半日のセッションで制作された。また、Sony CSL、大和ハウス、ヤフーの共催イベント「
          a(href='https://www.daiwahouse.co.jp/lab/HousingAPI/symposium/index.html') 住宅をカスタマイズするためのシンポジウム
          | 」で発表され、学生賞を受賞した。
        - if (en) {
        p: +translate-en('homehack/index.pug')
        - }
      .extra
        .ui.horizontal.label
          i.calendar.icon
          | '12
  .ui.hidden.divider
  .item
    a.image(href=`${basePath}homehack/realmote/`)
      img(src=`${rootPath}homehack/thumbnails/realmote.jpg`)
    .content
      a.header(href=`${basePath}homehack/realmote/`) Realmote
      .description
        p スマートフォンやタブレット端末のWebブラウザから、電灯やエアコン、自動掃除機ルンバなどの家電製品を遠隔操作できるようにした。
        - if (en) {
        p: +translate-en('homehack/index.pug')
        - }
      .extra
        .ui.horizontal.label
          i.calendar.icon
          | '11-12
