extends ../../_layout

block vars
  - p = projectsTable['user-interface-design'];
  - title = p.getTitle(lang);
  - imageUrl = `${protocol}://${domain}${rootPath}images/panels/user-interface-design.png`;
  - me = p.project + '/';

block lang
  - var lang = 'ja';

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup: .ui.divided.list
    a.item(href='#body')
      i.chevron.circle.up.icon
      .content #{en ? 'Top' : 'トップ'}
    a.item(href=`#asj`)
      i.right.triangle.icon
      .content 日本音響学会「やさしい解説」
    a.item(href=`#theory`)
      i.right.triangle.icon
      .content インタフェース設計の基礎理論
    a.item(href=`#usability`)
      i.right.triangle.icon
      .content ユーザビリティ
    a.item(href=`#visualization`)
      i.right.triangle.icon
      .content 情報提示のデザイン

block main
  +render-project-header('user-interface-design')
  .ui.hidden.divider
  section#introduction
    h2.ui.header: .content #{en ? 'Introduction' : 'はじめに'}
    .ui.basic.segment
      p <a href="https://doi.org/10.1145/142750.142789">Myersらの1992年の調査</a>によれば、一般的なグラフィカルユーザインタフェース（Graphical User Interface; GUI）アプリケーション開発でコードの48%、実装時間の約半分がユーザインタフェース部分に割かれているといいます。それだけユーザインタフェースの設計は難しいプロセスなのです。
      //- p そこで、デザインを手助けしてくれるさまざまなツールが登場してきました。例えば、ボタンや入力ボックス、スクロールバーなどの標準化された部品を提供してくれるJava Swingのようなツールキットや、視覚的にインタフェース設計が行えるInterface Builderのようなアプリケーション、画面遷移などのインタラクションを試作できるAdobe XDのようなプロトタイピングツールなどが挙げられます。ユーザインタフェース設計に携わる方なら、誰もがこれらのツールの恩恵に与かっていることともいます。
      p ユーザインタフェース設計で役に立つ基礎理論や評価手法、支援ツールは、人とコンピュータの関係をよりよくしていく学問 <strong>Human-Computer Interaction (HCI)</strong> で研究、開発されてきました。ただ、こうした知見を体系化されたかたちで学習する機会は（とくに国内では）必ずしも多くありません。
      p このWebページでは、自分が研究者になるにあたって知っておきたかった基礎的なことを、参考文献を挙げながら紹介します。想定している読者層は HCI を専門にする学生や、ユーザインタフェース設計の実務にあたっている方々です。基礎理論、デザインの評価手法、デザインで気をつけるべきポイントまで幅広く扱います。
  .ui.hidden.divider
  section#asj: +asj()
  .ui.hidden.divider
  section#theory: +theory()
  .ui.hidden.divider
  section#usability: +usability()
  .ui.hidden.divider
  .ui.horizontal.divider 以降は執筆中
  .ui.hidden.divider
  section#visualization: +visualization()
  .ui.hidden.divider
  section#conclusion: +conclusion()
  .ui.divider
  section#revision: +revision()
  img(src="https://ir-jp.amazon-adsystem.com/e/ir?t=digitalmuseum-22&language=ja_JP&l=li3&o=9&a=B0844T1CKC" width="1" height="1" border="0")
  img(src="https://ir-jp.amazon-adsystem.com/e/ir?t=digitalmuseum-22&language=ja_JP&l=li3&o=9&a=013438038X" width="1" height="1" border="0")

mixin asj()
  h2.ui.header: .content 日本音響学会「やさしい解説」
    span.ui.tiny.basic.label
      i.calendar.icon
      | 2021
  .ui.basic.segment
    p このWebページは、日本音響学会 学会誌 77 巻 4 号（2021）に掲載されている「やさしい解説」の記事「インタフェース・デザインの勘所」の補足資料を兼ねています。本誌記事では、このページでカバーしているテーマの他に、<abbr title="Graphical User Interface">GUI</abbr>プログラミングの2類型（Retained GUI、Immediate-mode GUI）などについても紹介しています。
    p また、本誌では、音響アプリケーションのユーザインタフェース開発事例を紹介する記事が続けて掲載されています。日本音響学会の猛者の方々による、MATLAB、Python（PyQt）、Maxというかなり性質の異なる環境での開発事例紹介となっており、<a href="https://sigpx.org"><abbr title="Programming Experience">PX</abbr></a>の観点でも非常に興味深い内容です。刊行から半年が経ち、無料で全文公開されました。ぜひ併せてご覧ください。
    .ui.top.attached.segment: .ui.divided.list
      +render-publication(publicationsTable['asj-v77n4-kato-ui-design'])
    .ui.basic.right.aligned.bottom.attached.secondary.segment
      a.ui.primary.button(href="https://doi.org/10.20697/jasj.77.4_231")
        | 学会誌 記事を読む
        i.chevron.circle.right.icon

mixin theory()
  h2.ui.header: .content インタフェース設計の理論
  .ui.basic.segment: .ui.stackable.two.column.divided.rail-like.grid#theory-introduction: .row
    .eleven.wide.column 
      p ユーザインタフェース設計に有用な基礎理論の多くは、<abbr title="Graphical User Interface">GUI</abbr>が商業的に一般化する過程と並走するかたちで1980年代に確立されています。本節では、 HCI 研究をしていると必ずといってよいほど名前を聞く 3 名の研究者、 Stuart Card、 Ben Shneiderman、 Don Norman の成果を中心に紹介します。いずれも、ユーザとシステムの間のインタラクションをモデル化した成果です。
      a.ui.left.tiny.floated.image(href="https://www.amazon.co.jp/dp/4621304674?&linkCode=li2&tag=digitalmuseum-22&linkId=d6b76ffeb310e30945263f85e702914c&language=ja_JP&ref_=as_li_ss_il"): img(src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4621304674&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=digitalmuseum-22&language=ja_JP")
      p 認知心理学に関する内容をさらに網羅的に知りたい場合、和書なら「<a href="https://amzn.to/3lfrH8S">インタフェースデザインの教科書</a>」をおすすめします。
    .five.wide.column
      p Steve Jobs が Xerox Alto を見たのが 1979 年、 Macintosh が発売されたのが 1984 年です。（<a href="https://www.wired.com/1997/12/web-101-a-history-of-the-gui/">Web 101: A History of the GUI</a>）
      p HCI 分野のトップ国際会議 <abbr title="Conference on Human Factors in Computing Systems">CHI</abbr> 初回が開催されたのが 1982 年です。（<a href="https://sigchi.org/conferences/conference-history/chi/">Conference History ─ CHI</a>）
  .ui.basic.segment
    .ui.stackable.two.column.divided.rail-like.grid#theory-cognitive-science
      .row: +theory-cognitive-science()
    .ui.stackable.two.column.divided.rail-like.grid#theory-direct-manipulation
      .row: +theory-direct-manipulation()
    .ui.stackable.two.column.divided.rail-like.grid#theory-gulf-of-execution-and-evaluation
      .row: +theory-gulf-of-execution-and-evaluation()
    +theory-limitation()

mixin theory-cognitive-science()
  .eleven.wide.column
    h3.ui.header#theory-model-human-processor: .content 人間情報処理モデル（Model Human Processor; HMP）
    p Card らは 1983 年の書籍「<a href="https://dl.acm.org/doi/10.5555/578027">The Psychology of Human-Computer Interaction</a>」の中で<strong>人間情報処理モデル</strong>を提唱しました。これは、システムと対峙するユーザの中で起きることを3種類のプロセッサによる一連の情報処理過程としてモデル化するもので、それぞれ、おおむね次のとおりの処理時間がかかることが報告されています。
    ol
      li 知覚プロセッサ（100 ms）
      li 認知プロセッサ（70 ms）
      li 運動プロセッサ（70 ms）
    p 人は総じて数百ms程度で応答できると考えれば、システム側の処理がそれ以上かかる場合には、プログレスバーなどを表示して間を持たせたほうがよいことになります。
    p また、プロセッサは主に短期記憶を参照して処理を行いますが、人が一時的に覚えられる意味のまとまり（チャンク）は 7 ± 2 個に限定されることも説明されています。この数字は<strong>マジックナンバー</strong>とも呼ばれ、インタフェース設計で頻繁に使われます。実例としては、クレジットカードの番号入力欄が4文字ずつ4個に分かれていたり、メニューの項目数や推薦システムの提示する案の数がこの範囲に収められていたりしますね。
    p Cardらは同じ書籍で、 MHP に続いて、文章編集タスクに特化した<strong>GOMS モデル</strong>を提唱しています。実用上はこちらのほうが有名なモデルと言えると思います。これは、モデルを構成する4要素、すなわち遂行したいタスク（<strong>Goal</strong>）、タスク遂行に向けた動作の最小単位（マウスカーソルの移動、キャレットの移動、打鍵など; <strong>Operator</strong>）、タスク遂行までの一連の動作（Goal を分割したサブゴールと Operator の組からなる配列; <strong>Method</strong>）、 Methodが複数ある際の選択規則（<strong>Selection rule</strong>）の頭文字を取って命名されています。
    p このモデルの利用者は、自ら設定したGoal、Operator、Selection ruleから最短Methodを求め、各Operatorの所要時間を足し合わせることでタスク全体の予測時間を得られます。 GOMS は手軽なうえ実際には文章編集に限定されない汎用的なモデルなため、派生モデル（KLM、NGOMSL、CPM-GOMSなど）も含め、今日にいたるまでインタフェース研究の評価実験にしばしば活用されています。ただし、これらのモデルはユーザがミスする可能性を考慮できないため、習熟ユーザの定型タスクに限り適用できるものです。
    h3.ui.header#theory-fitts-law: .content フィッツの法則（Fitts' law）
    p Card は、<strong>フィッツの法則（Fitts' law）</strong>が、マウス操作の効率を測るモデルとして適していることを明らかにしました。
    a.ui.right.floated.medium.stackable.image: img(src=`${rootPath}user-interface-design/uidesign-fig2-fits-law.png`)
    p この法則は、対象の領域に移動するためのおおよその所要時間（Movement Time; T）が、領域の中心までの距離（Distance; A）と対象物の大きさ（Width; W）の関数で次のとおりシンプルに表せるというものです。
    p: <!-- https://viereck.ch/latex-to-svg/: T = a + b \times log_2⁡ (\frac{A}{W} + 1) --><svg xmlns="http://www.w3.org/2000/svg" width="200.768px" height="38.008px" viewBox="0 -1392 11092.4 2100" xmlns:xlink="http://www.w3.org/1999/xlink" style=""><defs><path id="MJX-A-15-TEX-I-54" d="M40 437Q21 437 21 445Q21 450 37 501T71 602L88 651Q93 669 101 677H569H659Q691 677 697 676T704 667Q704 661 687 553T668 444Q668 437 649 437Q640 437 637 437T631 442L629 445Q629 451 635 490T641 551Q641 586 628 604T573 629Q568 630 515 631Q469 631 457 630T439 622Q438 621 368 343T298 60Q298 48 386 46Q418 46 427 45T436 36Q436 31 433 22Q429 4 424 1L422 0Q419 0 415 0Q410 0 363 1T228 2Q99 2 64 0H49Q43 6 43 9T45 27Q49 40 55 46H83H94Q174 46 189 55Q190 56 191 56Q196 59 201 76T241 233Q258 301 269 344Q339 619 339 625Q339 630 310 630H279Q212 630 191 624Q146 614 121 583T67 467Q60 445 57 441T43 437H40Z"></path><path id="MJX-A-15-TEX-N-3D" d="M56 347Q56 360 70 367H707Q722 359 722 347Q722 336 708 328L390 327H72Q56 332 56 347ZM56 153Q56 168 72 173H708Q722 163 722 153Q722 140 707 133H70Q56 140 56 153Z"></path><path id="MJX-A-15-TEX-I-61" d="M33 157Q33 258 109 349T280 441Q331 441 370 392Q386 422 416 422Q429 422 439 414T449 394Q449 381 412 234T374 68Q374 43 381 35T402 26Q411 27 422 35Q443 55 463 131Q469 151 473 152Q475 153 483 153H487Q506 153 506 144Q506 138 501 117T481 63T449 13Q436 0 417 -8Q409 -10 393 -10Q359 -10 336 5T306 36L300 51Q299 52 296 50Q294 48 292 46Q233 -10 172 -10Q117 -10 75 30T33 157ZM351 328Q351 334 346 350T323 385T277 405Q242 405 210 374T160 293Q131 214 119 129Q119 126 119 118T118 106Q118 61 136 44T179 26Q217 26 254 59T298 110Q300 114 325 217T351 328Z"></path><path id="MJX-A-15-TEX-N-2B" d="M56 237T56 250T70 270H369V420L370 570Q380 583 389 583Q402 583 409 568V270H707Q722 262 722 250T707 230H409V-68Q401 -82 391 -82H389H387Q375 -82 369 -68V230H70Q56 237 56 250Z"></path><path id="MJX-A-15-TEX-I-62" d="M73 647Q73 657 77 670T89 683Q90 683 161 688T234 694Q246 694 246 685T212 542Q204 508 195 472T180 418L176 399Q176 396 182 402Q231 442 283 442Q345 442 383 396T422 280Q422 169 343 79T173 -11Q123 -11 82 27T40 150V159Q40 180 48 217T97 414Q147 611 147 623T109 637Q104 637 101 637H96Q86 637 83 637T76 640T73 647ZM336 325V331Q336 405 275 405Q258 405 240 397T207 376T181 352T163 330L157 322L136 236Q114 150 114 114Q114 66 138 42Q154 26 178 26Q211 26 245 58Q270 81 285 114T318 219Q336 291 336 325Z"></path><path id="MJX-A-15-TEX-N-D7" d="M630 29Q630 9 609 9Q604 9 587 25T493 118L389 222L284 117Q178 13 175 11Q171 9 168 9Q160 9 154 15T147 29Q147 36 161 51T255 146L359 250L255 354Q174 435 161 449T147 471Q147 480 153 485T168 490Q173 490 175 489Q178 487 284 383L389 278L493 382Q570 459 587 475T609 491Q630 491 630 471Q630 464 620 453T522 355L418 250L522 145Q606 61 618 48T630 29Z"></path><path id="MJX-A-15-TEX-I-6C" d="M117 59Q117 26 142 26Q179 26 205 131Q211 151 215 152Q217 153 225 153H229Q238 153 241 153T246 151T248 144Q247 138 245 128T234 90T214 43T183 6T137 -11Q101 -11 70 11T38 85Q38 97 39 102L104 360Q167 615 167 623Q167 626 166 628T162 632T157 634T149 635T141 636T132 637T122 637Q112 637 109 637T101 638T95 641T94 647Q94 649 96 661Q101 680 107 682T179 688Q194 689 213 690T243 693T254 694Q266 694 266 686Q266 675 193 386T118 83Q118 81 118 75T117 65V59Z"></path><path id="MJX-A-15-TEX-I-6F" d="M201 -11Q126 -11 80 38T34 156Q34 221 64 279T146 380Q222 441 301 441Q333 441 341 440Q354 437 367 433T402 417T438 387T464 338T476 268Q476 161 390 75T201 -11ZM121 120Q121 70 147 48T206 26Q250 26 289 58T351 142Q360 163 374 216T388 308Q388 352 370 375Q346 405 306 405Q243 405 195 347Q158 303 140 230T121 120Z"></path><path id="MJX-A-15-TEX-I-67" d="M311 43Q296 30 267 15T206 0Q143 0 105 45T66 160Q66 265 143 353T314 442Q361 442 401 394L404 398Q406 401 409 404T418 412T431 419T447 422Q461 422 470 413T480 394Q480 379 423 152T363 -80Q345 -134 286 -169T151 -205Q10 -205 10 -137Q10 -111 28 -91T74 -71Q89 -71 102 -80T116 -111Q116 -121 114 -130T107 -144T99 -154T92 -162L90 -164H91Q101 -167 151 -167Q189 -167 211 -155Q234 -144 254 -122T282 -75Q288 -56 298 -13Q311 35 311 43ZM384 328L380 339Q377 350 375 354T369 368T359 382T346 393T328 402T306 405Q262 405 221 352Q191 313 171 233T151 117Q151 38 213 38Q269 38 323 108L331 118L384 328Z"></path><path id="MJX-A-15-TEX-N-32" d="M109 429Q82 429 66 447T50 491Q50 562 103 614T235 666Q326 666 387 610T449 465Q449 422 429 383T381 315T301 241Q265 210 201 149L142 93L218 92Q375 92 385 97Q392 99 409 186V189H449V186Q448 183 436 95T421 3V0H50V19V31Q50 38 56 46T86 81Q115 113 136 137Q145 147 170 174T204 211T233 244T261 278T284 308T305 340T320 369T333 401T340 431T343 464Q343 527 309 573T212 619Q179 619 154 602T119 569T109 550Q109 549 114 549Q132 549 151 535T170 489Q170 464 154 447T109 429Z"></path><path id="MJX-A-15-TEX-N-2061" d=""></path><path id="MJX-A-15-TEX-N-28" d="M94 250Q94 319 104 381T127 488T164 576T202 643T244 695T277 729T302 750H315H319Q333 750 333 741Q333 738 316 720T275 667T226 581T184 443T167 250T184 58T225 -81T274 -167T316 -220T333 -241Q333 -250 318 -250H315H302L274 -226Q180 -141 137 -14T94 250Z"></path><path id="MJX-A-15-TEX-I-41" d="M208 74Q208 50 254 46Q272 46 272 35Q272 34 270 22Q267 8 264 4T251 0Q249 0 239 0T205 1T141 2Q70 2 50 0H42Q35 7 35 11Q37 38 48 46H62Q132 49 164 96Q170 102 345 401T523 704Q530 716 547 716H555H572Q578 707 578 706L606 383Q634 60 636 57Q641 46 701 46Q726 46 726 36Q726 34 723 22Q720 7 718 4T704 0Q701 0 690 0T651 1T578 2Q484 2 455 0H443Q437 6 437 9T439 27Q443 40 445 43L449 46H469Q523 49 533 63L521 213H283L249 155Q208 86 208 74ZM516 260Q516 271 504 416T490 562L463 519Q447 492 400 412L310 260L413 259Q516 259 516 260Z"></path><path id="MJX-A-15-TEX-I-57" d="M436 683Q450 683 486 682T553 680Q604 680 638 681T677 682Q695 682 695 674Q695 670 692 659Q687 641 683 639T661 637Q636 636 621 632T600 624T597 615Q597 603 613 377T629 138L631 141Q633 144 637 151T649 170T666 200T690 241T720 295T759 362Q863 546 877 572T892 604Q892 619 873 628T831 637Q817 637 817 647Q817 650 819 660Q823 676 825 679T839 682Q842 682 856 682T895 682T949 681Q1015 681 1034 683Q1048 683 1048 672Q1048 666 1045 655T1038 640T1028 637Q1006 637 988 631T958 617T939 600T927 584L923 578L754 282Q586 -14 585 -15Q579 -22 561 -22Q546 -22 542 -17Q539 -14 523 229T506 480L494 462Q472 425 366 239Q222 -13 220 -15T215 -19Q210 -22 197 -22Q178 -22 176 -15Q176 -12 154 304T131 622Q129 631 121 633T82 637H58Q51 644 51 648Q52 671 64 683H76Q118 680 176 680Q301 680 313 683H323Q329 677 329 674T327 656Q322 641 318 637H297Q236 634 232 620Q262 160 266 136L501 550L499 587Q496 629 489 632Q483 636 447 637Q428 637 422 639T416 648Q416 650 418 660Q419 664 420 669T421 676T424 680T428 682T436 683Z"></path><path id="MJX-A-15-TEX-N-31" d="M213 578L200 573Q186 568 160 563T102 556H83V602H102Q149 604 189 617T245 641T273 663Q275 666 285 666Q294 666 302 660V361L303 61Q310 54 315 52T339 48T401 46H427V0H416Q395 3 257 3Q121 3 100 0H88V46H114Q136 46 152 46T177 47T193 50T201 52T207 57T213 61V578Z"></path><path id="MJX-A-15-TEX-N-29" d="M60 749L64 750Q69 750 74 750H86L114 726Q208 641 251 514T294 250Q294 182 284 119T261 12T224 -76T186 -143T145 -194T113 -227T90 -246Q87 -249 86 -250H74Q66 -250 63 -250T58 -247T55 -238Q56 -237 66 -225Q221 -64 221 250T66 725Q56 737 55 738Q55 746 60 749Z"></path></defs><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><g data-mml-node="math"><g data-mml-node="mi"><use xlink:href="#MJX-A-15-TEX-I-54"></use></g><g data-mml-node="mo" transform="translate(981.8, 0)"><use xlink:href="#MJX-A-15-TEX-N-3D"></use></g><g data-mml-node="mi" transform="translate(2037.6, 0)"><use xlink:href="#MJX-A-15-TEX-I-61"></use></g><g data-mml-node="mo" transform="translate(2788.8, 0)"><use xlink:href="#MJX-A-15-TEX-N-2B"></use></g><g data-mml-node="mi" transform="translate(3789, 0)"><use xlink:href="#MJX-A-15-TEX-I-62"></use></g><g data-mml-node="mo" transform="translate(4440.2, 0)"><use xlink:href="#MJX-A-15-TEX-N-D7"></use></g><g data-mml-node="mi" transform="translate(5440.4, 0)"><use xlink:href="#MJX-A-15-TEX-I-6C"></use></g><g data-mml-node="mi" transform="translate(5738.4, 0)"><use xlink:href="#MJX-A-15-TEX-I-6F"></use></g><g data-mml-node="msub" transform="translate(6223.4, 0)"><g data-mml-node="mi"><use xlink:href="#MJX-A-15-TEX-I-67"></use></g><g data-mml-node="mn" transform="translate(477, -150) scale(0.707)"><use xlink:href="#MJX-A-15-TEX-N-32"></use></g></g><g data-mml-node="TeXAtom" transform="translate(7104, 0)"><g data-mml-node="mo"><use xlink:href="#MJX-A-15-TEX-N-2061"></use></g></g><g data-mml-node="mo" transform="translate(7104, 0)"><use xlink:href="#MJX-A-15-TEX-N-28"></use></g><g data-mml-node="mfrac" transform="translate(7493, 0)"><g data-mml-node="mi" transform="translate(369, 676)"><use xlink:href="#MJX-A-15-TEX-I-41"></use></g><g data-mml-node="mi" transform="translate(220, -686)"><use xlink:href="#MJX-A-15-TEX-I-57"></use></g><rect width="1248" height="60" x="120" y="220"></rect></g><g data-mml-node="mo" transform="translate(9203.2, 0)"><use xlink:href="#MJX-A-15-TEX-N-2B"></use></g><g data-mml-node="mn" transform="translate(10203.4, 0)"><use xlink:href="#MJX-A-15-TEX-N-31"></use></g><g data-mml-node="mo" transform="translate(10703.4, 0)"><use xlink:href="#MJX-A-15-TEX-N-29"></use></g></g></g></svg>
    p つまり、マウスでクリックする対象が遠ければ遠いほど時間がかかるが、対象領域が大きければ大きいほど時間が節約できるということです。
    p この法則によれば、ディスプレイの四隅に配置されたボタン（Windowsの「スタート」ボタンなど）やパイメニュー（マウスの位置に放射状に表れるメニュー）は、実際に見えているボタンや選択項目よりも対象領域をずっと広く取れます。例えば「スタート」なら左下にどれだけ行き過ぎても選択できるため、左下方向に無限の広さを持つと考えられます。そこで、カーソルの現在位置によらずほぼ定数時間で選択でき、素早く選択しやすいと言えます。
    p なお、このモデルは階層型メニューのように経路が制限される場合には適用できません。階層型メニューでは、深い階層に辿り着くためにポインタを何度か真っ直ぐ動かす（ステアリングする）必要があります。
    a.ui.right.floated.medium.stackable.image: img(src=`${rootPath}user-interface-design/uidesign-fig2-steering.png`)
    p このように<a href="https://dl.acm.org/doi/10.1145/258549.258760" title="Beyond Fitts' Law: Models for Trajectory-based HCI Tasks">軌跡が制限されていても適用できるモデル</a>が 1997 年に提案されています。経路がトンネルを繋いだ形状に制限される場合、所要時間はトンネルの長さ（A）と幅（W）で次のように表せます。
    p: <!-- https://viereck.ch/latex-to-svg/: T = a + b \times \frac{A}{W} --><svg xmlns="http://www.w3.org/2000/svg" width="125.400px" height="38.008px" viewBox="0 -1392 6928.4 2100" xmlns:xlink="http://www.w3.org/1999/xlink" style=""><defs><path id="MJX-B-15-TEX-I-54" d="M40 437Q21 437 21 445Q21 450 37 501T71 602L88 651Q93 669 101 677H569H659Q691 677 697 676T704 667Q704 661 687 553T668 444Q668 437 649 437Q640 437 637 437T631 442L629 445Q629 451 635 490T641 551Q641 586 628 604T573 629Q568 630 515 631Q469 631 457 630T439 622Q438 621 368 343T298 60Q298 48 386 46Q418 46 427 45T436 36Q436 31 433 22Q429 4 424 1L422 0Q419 0 415 0Q410 0 363 1T228 2Q99 2 64 0H49Q43 6 43 9T45 27Q49 40 55 46H83H94Q174 46 189 55Q190 56 191 56Q196 59 201 76T241 233Q258 301 269 344Q339 619 339 625Q339 630 310 630H279Q212 630 191 624Q146 614 121 583T67 467Q60 445 57 441T43 437H40Z"></path><path id="MJX-B-15-TEX-N-3D" d="M56 347Q56 360 70 367H707Q722 359 722 347Q722 336 708 328L390 327H72Q56 332 56 347ZM56 153Q56 168 72 173H708Q722 163 722 153Q722 140 707 133H70Q56 140 56 153Z"></path><path id="MJX-B-15-TEX-I-61" d="M33 157Q33 258 109 349T280 441Q331 441 370 392Q386 422 416 422Q429 422 439 414T449 394Q449 381 412 234T374 68Q374 43 381 35T402 26Q411 27 422 35Q443 55 463 131Q469 151 473 152Q475 153 483 153H487Q506 153 506 144Q506 138 501 117T481 63T449 13Q436 0 417 -8Q409 -10 393 -10Q359 -10 336 5T306 36L300 51Q299 52 296 50Q294 48 292 46Q233 -10 172 -10Q117 -10 75 30T33 157ZM351 328Q351 334 346 350T323 385T277 405Q242 405 210 374T160 293Q131 214 119 129Q119 126 119 118T118 106Q118 61 136 44T179 26Q217 26 254 59T298 110Q300 114 325 217T351 328Z"></path><path id="MJX-B-15-TEX-N-2B" d="M56 237T56 250T70 270H369V420L370 570Q380 583 389 583Q402 583 409 568V270H707Q722 262 722 250T707 230H409V-68Q401 -82 391 -82H389H387Q375 -82 369 -68V230H70Q56 237 56 250Z"></path><path id="MJX-B-15-TEX-I-62" d="M73 647Q73 657 77 670T89 683Q90 683 161 688T234 694Q246 694 246 685T212 542Q204 508 195 472T180 418L176 399Q176 396 182 402Q231 442 283 442Q345 442 383 396T422 280Q422 169 343 79T173 -11Q123 -11 82 27T40 150V159Q40 180 48 217T97 414Q147 611 147 623T109 637Q104 637 101 637H96Q86 637 83 637T76 640T73 647ZM336 325V331Q336 405 275 405Q258 405 240 397T207 376T181 352T163 330L157 322L136 236Q114 150 114 114Q114 66 138 42Q154 26 178 26Q211 26 245 58Q270 81 285 114T318 219Q336 291 336 325Z"></path><path id="MJX-B-15-TEX-N-D7" d="M630 29Q630 9 609 9Q604 9 587 25T493 118L389 222L284 117Q178 13 175 11Q171 9 168 9Q160 9 154 15T147 29Q147 36 161 51T255 146L359 250L255 354Q174 435 161 449T147 471Q147 480 153 485T168 490Q173 490 175 489Q178 487 284 383L389 278L493 382Q570 459 587 475T609 491Q630 491 630 471Q630 464 620 453T522 355L418 250L522 145Q606 61 618 48T630 29Z"></path><path id="MJX-B-15-TEX-N-2061" d=""></path><path id="MJX-B-15-TEX-I-41" d="M208 74Q208 50 254 46Q272 46 272 35Q272 34 270 22Q267 8 264 4T251 0Q249 0 239 0T205 1T141 2Q70 2 50 0H42Q35 7 35 11Q37 38 48 46H62Q132 49 164 96Q170 102 345 401T523 704Q530 716 547 716H555H572Q578 707 578 706L606 383Q634 60 636 57Q641 46 701 46Q726 46 726 36Q726 34 723 22Q720 7 718 4T704 0Q701 0 690 0T651 1T578 2Q484 2 455 0H443Q437 6 437 9T439 27Q443 40 445 43L449 46H469Q523 49 533 63L521 213H283L249 155Q208 86 208 74ZM516 260Q516 271 504 416T490 562L463 519Q447 492 400 412L310 260L413 259Q516 259 516 260Z"></path><path id="MJX-B-15-TEX-I-57" d="M436 683Q450 683 486 682T553 680Q604 680 638 681T677 682Q695 682 695 674Q695 670 692 659Q687 641 683 639T661 637Q636 636 621 632T600 624T597 615Q597 603 613 377T629 138L631 141Q633 144 637 151T649 170T666 200T690 241T720 295T759 362Q863 546 877 572T892 604Q892 619 873 628T831 637Q817 637 817 647Q817 650 819 660Q823 676 825 679T839 682Q842 682 856 682T895 682T949 681Q1015 681 1034 683Q1048 683 1048 672Q1048 666 1045 655T1038 640T1028 637Q1006 637 988 631T958 617T939 600T927 584L923 578L754 282Q586 -14 585 -15Q579 -22 561 -22Q546 -22 542 -17Q539 -14 523 229T506 480L494 462Q472 425 366 239Q222 -13 220 -15T215 -19Q210 -22 197 -22Q178 -22 176 -15Q176 -12 154 304T131 622Q129 631 121 633T82 637H58Q51 644 51 648Q52 671 64 683H76Q118 680 176 680Q301 680 313 683H323Q329 677 329 674T327 656Q322 641 318 637H297Q236 634 232 620Q262 160 266 136L501 550L499 587Q496 629 489 632Q483 636 447 637Q428 637 422 639T416 648Q416 650 418 660Q419 664 420 669T421 676T424 680T428 682T436 683Z"></path></defs><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><g data-mml-node="math"><g data-mml-node="mi"><use xlink:href="#MJX-B-15-TEX-I-54"></use></g><g data-mml-node="mo" transform="translate(981.8, 0)"><use xlink:href="#MJX-B-15-TEX-N-3D"></use></g><g data-mml-node="mi" transform="translate(2037.6, 0)"><use xlink:href="#MJX-B-15-TEX-I-61"></use></g><g data-mml-node="mo" transform="translate(2788.8, 0)"><use xlink:href="#MJX-B-15-TEX-N-2B"></use></g><g data-mml-node="mi" transform="translate(3789, 0)"><use xlink:href="#MJX-B-15-TEX-I-62"></use></g><g data-mml-node="mo" transform="translate(4440.2, 0)"><use xlink:href="#MJX-B-15-TEX-N-D7"></use></g><g data-mml-node="TeXAtom" transform="translate(5440.4, 0)"><g data-mml-node="mo"><use xlink:href="#MJX-B-15-TEX-N-2061"></use></g></g><g data-mml-node="mfrac" transform="translate(5440.4, 0)"><g data-mml-node="mi" transform="translate(369, 676)"><use xlink:href="#MJX-B-15-TEX-I-41"></use></g><g data-mml-node="mi" transform="translate(220, -686)"><use xlink:href="#MJX-B-15-TEX-I-57"></use></g><rect width="1248" height="60" x="120" y="220"></rect></g></g></g></svg>
    p さらに、これらのモデルにはポインタの占める面積が対象領域よりも十分小さいという暗黙の前提があります。タッチ入力ではポインタとなる指の大きさが無視できないため、<a href="https://dl.acm.org/doi/10.1145/2470654.2466180" title="FFitts Law: Modeling Finger Touch with Fitts' Law">タッチの場合に正確な予測を行うモデル</a>が 2013 年に提案されています。
    p このようなモデルを活用することで、ユーザテストを何度も繰り返さなくても、作業効率の高いユーザインタフェース設計を行うことができます。
  .five.wide.column
    p Stuart Card は認知心理学分野のさまざまな知見をコンピュータのユーザインタフェース設計に応用した人で、書籍刊行時は Xerox <abbr title="Palo ALto Research Center">PARC</abbr> に所属していました。 Xerox Alto がマウスによるコンピュータ操作という画期的なインタラクションデザインを採用できたのは、彼がフィッツの法則でマウス操作の効率をモデリングしたことによる寄与が大きかったそうです。（<a href="https://web.archive.org/web/20070209223029/http://www2.parc.com/istl/projects/uir/people/stuart/stuart.htm">parc &gt; user interface research &gt; people &gt; stuart k. card</a>）
    p また、 Card は生物の食物探索行動をモデル化した最適採餌理論（Optimal Foraging Theory）を人の情報の摂取行動に対して応用した<strong>情報採餌理論（Information Foraging Theory; IFT）</strong>の開拓にも深く関わっています。
    p IFT に関してはなぜか日本語の文献があまり見当たらないのですが、 <a href="https://u-site.jp/alertbox/20030630/">Nielsen Norman Group の解説記事</a> が分かりやすいです。 Web サイト上での人の情報探索行動を説明するための理論として、今でも盛んに研究されています。

mixin theory-direct-manipulation()
  .eleven.wide.column 
    h3.ui.header: .content ダイレクトマニピュレーション（Direct Manipulation; DM）
    p Shneiderman は<a href="https://doi.org/10.1109/MC.1983.1654471">1983 年の論文</a>で<strong>ダイレクトマニピュレーション</strong>インタフェースを提唱しています。ユーザインタフェースのなかでも、とくに以下の条件を満たすものが DM インタフェースです。
    ol
      li システムの状態とその変化が継続的に見える
      li ユーザが入力をすばやく、徐々に、可逆的に実行できて、しかも実行結果がすぐ返ってくる
      li 複雑な構文のコマンド入力でなく、システムの状態を表すオブジェクトを個々に操作できる
    p これらの条件を満たせば、ユーザはコンピュータを意識せず、システムの状態を直接操作しているように感じられる、というヒューリスティックな設計指針です。
    p DM が提唱されたのは、パソコンのデスクトップで一般的なウィンドウ、アイコン、メニュー、ポインタからなる <abbr title="Window, Icon, Menu, Pointer">WIMP</abbr> メタファが確立した時期と重なります。そのため、稀に DM＝WIMP と解釈されることがありますがこれは誤りで、 DM の実装例が WIMP という関係です。
    p DM の WIMP 以外の実装例として、スマートフォンのタッチインタフェースが挙げられます。これは、複数のウィンドウをディスプレイ上に置くことを諦め、ポインタをなくし、指で直接操作できるようにしたものです。また、近年 Virtual Reality（VR） 用の高性能なヘッドマウントディスプレイが安価に市販されています。これは、3Dで表現されたオブジェクトを直接操作できる新たな DM プラットフォームと言えます。
  .five.wide.column
    p Ben Shneiderman は HCI 分野に特化した名門ラボでもっとも歴史が古いものの一つ <a href="https://hcil.umd.edu/">University of Maryland <abbr title="Human-Computer Interaction Lab">HCIL</abbr></a> を設立しました。
    a.ui.right.floated.tiny.image(href="https://www.amazon.co.jp/Designing-User-Interface-Human-Computer-Interaction/dp/013438038X?&linkCode=li3&tag=digitalmuseum-22&linkId=74398046208ff478ab54959a153fe1de&language=ja_JP&ref_=as_li_ss_il"): img(src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=013438038X&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=digitalmuseum-22&language=ja_JP")
    p 版を重ねるたびに最新事情にキャッチアップしてきた分野の定番教科書「<a href="http://www.cs.umd.edu/hcil/DTUI6/">Designing the User Interface: Strategies for Effective Human-Computer Interaction</a>」を編纂している人でもあります。

mixin theory-gulf-of-execution-and-evaluation()
  .eleven.wide.column 
    h3.ui.header: .content 実行の溝と評価の溝（Gulf of Execution and Evaluation）
    p Norman は 1986 年に書籍「<a href="https://www.nngroup.com/books/user-centered-system-design/">User Centered System Design</a>」を編纂し、ユーザとシステムの間のインタラクションをユーザ視点（<strong>User-Centered</strong>）で 7 段階に分けてモデル化しています。
    ol
      li ユーザが目標を決定する
      li ユーザが望ましいシステムの状態を意図する
      li ユーザが意図どおりの状態を実現するための入力を選択する
      li システムがコマンドを実行して応答を返す
      li ユーザがその状態を知覚する
      li ユーザが知覚した内容を解釈する
      li ユーザが、はじめに意図した状態と実際の状態を比較評価する
    p インタフェース設計においては、この各段階の間に存在するトレードオフを把握し、想定しているユーザに最適化することが重要となります。
    p 例えば、コマンドを文字で自由入力する場合と、メニューから選択する場合を考えてみます。すでに利用可能なコマンドを覚えきっている熟練者にとっては、前者のほうが（1）から（4）まで一気にできて望ましいでしょう。メニューだと選択して実行する手間が多く感じられるかもしれません。ところが、初心者にとっては、そもそもどんなコマンドがあるか分からないので、自由入力だと（3）の選択プロセスが難しく、メニュー表示のほうが適しています。ただ、ユーザが徐々にシステムに習熟していくことを考えると、どちらが正解とも言えません。この例に関しては、近年、コマンドの自由な入力、検索、選択ができるコマンドパレットと呼ばれるインタフェースが一般化しつつあります。（<a href="https://capiche.com/e/consumer-dev-tools-command-palette">The History of Command Palettes: How Typing Commands Became The Norm Again</a>）
    p ここで、システムへの入力に至る（1）から（4）までのプロセスと、システムの出力を次の入力に繋げるための（5）から（7）までのプロセスは、実際には細かく分けて考えづらいこともあります。 Norman は、それぞれをユーザ・システム間の隔たりと考え、前者を<strong>実行の淵（Gulf of Execution）</strong>、後者を<strong>評価の淵（Gulf of Evaluation）</strong>と呼んでいます。この淵をいかに狭くするか、つまりユーザにとっての認知的な負荷をいかに軽くするかが、インタフェース設計の腕の見せ所になります。
    p なお、この「淵」というアナロジーは、書籍のダイレクトマニピュレーションに関する章（Chapter 5. Direct Manipulation Interfaces）を改稿する過程で出てきたものだそうです。「ダイレクト（直接）」という言葉は、すなわちユーザが淵を意識しないで済む状態です。（<a href="https://www.interaction-design.org/literature/book/the-glossary-of-human-computer-interaction/gulf-of-evaluation-and-gulf-of-execution">The Glossary of Human Computer Interaction 19.0.2</a>）
  .five.wide.column
    p Don Norman は 1988 年の書籍「<a href="https://www.shin-yo-sha.co.jp/book/b455574.html">誰のためのデザイン？――認知科学者のデザイン原論</a>（原題: The Design of Everyday Things）」で初めて<strong>ユーザ体験（User Experience; UX）</strong>という言葉を使ったことでも有名です。
    p UX は、ユーザがシステムを体験する間に起きるすべてのことを対象とする概念で、「<strong>ユーザビリティ（Usability）</strong>」（後述）を補完するアイデアでした。（<a href="https://blog.adobe.com/en/publish/2017/08/28/where-did-the-term-user-experience-come-from.html">Where Did the Term “User Experience” Come From? ── Adobe Blog</a>）
    a.ui.fluid.bordered.image(href=`${rootPath}images/thumbnails/user-interface-design.png`)
      img(src=`${rootPath}images/thumbnails/user-interface-design.png`)
    .caption
      p ユーザとシステムの間の実行・評価の溝

mixin theory-limitation()
  h3.ui.header: .content モデル化手法の限界
  p ここまで、ユーザとシステムの間のインタラクションをモデル化した成果を紹介してきました。<strong>実行の淵と評価の淵</strong>、<strong>ダイレクトマニピュレーション</strong>などの考え方は、インタフェース設計の方向性を検証するための強力な武器となります。そして、ユーザを<strong>情報処理プロセッサ</strong>に置き換えて考えることで、インタフェースの定量的な性能予測ができるだけでなく、使いやすいインタフェース設計の法則が得られることもあります。
  p ただし、こと後者の性能予測に関しては、実際のGUIアプリケーション開発に適用できないことが少なくありません。ユーザのタスクが定型的にモデル化できないほど複雑となるためです。また、ボトムアップで性能予測を積み上げても実用精度を得られないだけでなく、そもそも熟練者の作業効率だけでインタフェースを評価することが不適切なこともあります。そこで、以降はより包括的にインタフェースのよしあしを評価する方法を紹介します。

mixin usability()
  h2.ui.header: .content ユーザビリティ
  .ui.basic.segment
    a.ui.right.tiny.floated.image(href="https://www.amazon.co.jp/Usability-Engineering-Interactive-Technologies-English-ebook/dp/B0029ZBK80?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=usability+engineering&qid=1624013132&s=digital-text&sr=1-1&linkCode=li2&tag=digitalmuseum-22&linkId=24dd480fbbec4c7a2314591233e29d3b&language=ja_JP&ref_=as_li_ss_il"): img(src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0029ZBK80&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=digitalmuseum-22&language=ja_JP")
    p Nielsenが1994年に記した書籍「Usability Engineering」では、インタフェースの使いやすさをユーザビリティという言葉で表し、次の5つの特性を示しました。
    ol
      li 学習しやすいこと
      li 作業効率が高いこと
      li 覚えやすいこと
      li エラーが発生しにくく、発生しても復帰しやすいこと
      li 主観的な満足度が高いこと
    p 前節で紹介したユーザモデルは 2. の観点しか考慮できていません。かといって、これだけ複合的で総体的な評価を行うのは、容易なことではありません。
    p 本節では、ユーザビリティを評価する方法を3種類紹介します。最後に、ユーザビリティも万能ではないことを、実例を挙げながら説明します。
  .ui.basic.segment: .ui.stackable.two.column.divided.rail-like.grid#usability-heuristics
    .row: +usability-heuristics()
  .ui.basic.segment: .ui.stackable.two.column.divided.rail-like.grid#usability-qualitative-test
    .row: +usability-qualitative-test()
  .ui.basic.segment: .ui.stackable.two.column.divided.rail-like.grid#usability-quantitative-test
    .row: +usability-quantitative-test()
  .ui.basic.segment: .ui.stackable.two.column.divided.rail-like.grid#usability-test-limitations
    .row: +usability-test-limitations()

mixin usability-heuristics()
  .eleven.wide.column
    h3.ui.header: .content ヒューリスティック評価
    p ユーザビリティ評価の最も簡単な方法は、<strong>エキスパートが作成した経験則的なチェックリストの各項目を確認する</strong>ことです。 Nielsen の書籍では Usability Heuristics という章がこれに当たり、チェックリストは Nielsen と Norman が立ち上げた会社（<a href="https://www.nngroup.com">Nielsen Norman Group</a>）のWebサイト上に転記され継続的に更新されています。
    p 開発しているアプリケーションが特定のプラットフォームを対象としている場合、プラットフォーム側が提供するツールキットに付随するガイドラインがこうしたチェックリストを含んでいることもあります。有名な例として Apple Human Interface Guidelines が挙げられますが、 Microsoft や Google なども同様のガイドラインを提供しています。
    p なお、デザインのガイドラインをまとめることは、 OS を作っているプラットフォーマーでなくとも、デザイナー間の意思統一をはかれたり、複数のサービスを横断して一貫したユーザ体験を提供するために便利だったりと、いろいろなメリットがあります。本稿では詳しく取り上げませんが、こうしたガイドラインは<strong>デザインシステム（Design System）</strong>と呼ばれることがあり、とくに大規模な制作現場で開発されることが増えています。
  .five.wide.column
    dl
      dt
        a(href="https://www.nngroup.com/articles/ten-usability-heuristics/") 10 Usability Heuristics for User Interface Design
        |  (
        a(href="https://u-site.jp/alertbox/ten-usability-heuristics/") 日本語訳
        | )
      dd 2021年6月現在、全10項目あります。
      dt: a(href="https://www.bauhausify.com/2019-07-10_UI%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E5%8E%9F%E5%89%87%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%AC%E3%82%A4%E3%83%89%E3%83%A9%E3%82%A4%E3%83%B3/") UIデザインの原則 デザインガイドライン
      dd Apple Human Interface Guidelines、 Microsoft の Windows アプリのための UX デザインガイドライン、 Google の Material Design のためのガイドラインへのリンクがまとまっています。
      dt: a(href="https://uxmilk.jp/72387") デザインシステムの定義と作成方法、導入事例
      dd Webサイトを開発する際にデザインシステムを作ることのメリット、具体的な方法、事例を紹介しています。

mixin usability-qualitative-test()
  .eleven.wide.column
    h3.ui.header: .content 定性的ユーザビリティテスト
    p 実際のターゲットユーザとなる人々にインタフェースを使ってもらい、その様子を観察できれば、ユーザビリティ上の問題を発見できます。こうした定性的テストは、開発の初期段階でまだインタフェースの要件が固まっていない場合にとくに有効です。頭に浮かんだことを随時声に出してもらう<strong>思考発話法（Thinking Aloud）</strong>を使えば、ユーザがインタフェースを試す間に何を考えているかが分かるため、さらに効果的です。なお、発話により操作効率が落ちる場合は、事後のインタビューで代替したほうがよいこともあります。
    p もっとも重要なのは、人数は少なくてよいので、開発が進捗するごとに<strong>反復的にユーザビリティテストを実施すること</strong>です。Nielsenは、テストの参加人数と発見できる問題数の関係を調査し、5人いれば問題の9割程度が発見できることを報告しています。なお、ターゲットユーザに頼むことが難しい場合、設計者自身が試すことももちろん有用です。ユーザの身になってステップバイステップで使い方を確認していき、問題点を見つけ出していくプロセスは<strong>認知的ウォークスルー（Cognitive Walkthrough）</strong>と呼ばれています。
  .five.wide.column
    dl
      dt: a(href="https://u-site.jp/alertbox/20000319/") 5人のユーザーでテストすれば十分な理由 &#8211; U-Site
      dd ユーザビリティテストの実施回数と見つかった問題の数を調査した
        a(href="https://dl.acm.org/doi/10.1145/169059.169166") 論文
        | の内容を、 Nielsen 自身が分かりやすく説明した記事の日本語訳です。
      dt: a(href="https://u-site.jp/wp-content/uploads/2015/09/persona_method.pdf") ペルソナ／シナリオ法を使ったユーザー中心のデザイン
      dd 認知的ウォークスルーを活用したデザイン手法を紹介したスライドです。（スライド 3 枚目 Step.6 UI設計）

mixin usability-quantitative-test()
  .eleven.wide.column
    h3.ui.header: .content 定量的ユーザビリティテスト
    p ユーザビリティを他の案と比較したり、開発過程でどれくらい向上しているか確認したりしたい場合は、定量的な調査のほうが適しています。例えば、同じタスクを行ってもらい、タスクの達成率やエラー数などを計測すれば、統計的にユーザビリティの優劣を判断できます。すでにユーザが多数いるシステムで比較したいインタフェースが A 案 B 案のように具体的なら、ユーザをランダムにグループ分けすれば両案の計測結果を容易に比較できます。これが <strong>A/B テスト</strong>と呼ばれるものです。
    p 一般的な定量調査の指標としては、 Brooke が提案した <strong>System Usability Scale (SUS)</strong> が挙げられます。これは、 10 の質問に 5 段階のスケール（全くそう思わない～強くそう思う）で回答してもらうものです。同様の指標は他にもあり、 <a href="https://uxpajournal.org/sus-a-retrospective/" title="SUS: A Retrospective">Brooke の後年の論文</a>で比較検討されていますが、ここでは深く触れません。
    p より簡単に多くの回答を集めたい場合は、 1 つの質問で済む <strong>Net Promoter Score (NPS)</strong> が有効です。これは「このシステムをどれだけ友人に勧めますか？」という質問に 0-10 の 11 段階のスケールで回答してもらうものです。Webサイトやスマートフォンのアプリケーションで、一度は目にしたことがあるのではないでしょうか。
  .five.wide.column
    dl
      dt: a(href="https://uxmilk.jp/83709") ユーザビリティの評価は何をどう計測すればいい？
      dd Web サイトのユーザビリティ評価手法としてSUSを採用した場合の具体的な方法を説明した記事です。
      dt: a(href="https://u-site.jp/lecture/customer-loyalty/") 顧客ロイヤリティ &#8211; U-Site
      dd NPS は、正確にはユーザビリティだけでなく、ユーザがどれだけシステムに好印象を持っているか（Customer Loyalty; 顧客ロイヤリティ）を測るための手法です。この語用について、歴史的経緯も含め簡潔に紹介された記事です。

mixin usability-test-limitations()
  .eleven.wide.column
    h3.ui.header: .content ユーザビリティテストの限界
    p 本節では、インタフェースの使い勝手を評価するための指標としてユーザビリティを挙げ、 3 種類の評価手法を紹介してきました。こうした評価と改善を繰り返すプロトタイピングにより、使い勝手を向上できるでしょう。
    p ただし、ユーザビリティも万能な考え方ではなく、一つの指標に過ぎないことに注意する必要があります。まず、紹介した評価手法は主に 1 人のユーザを対象とする手法が多く、複数名が共同作業する <strong>Computer-Supported Cooperative Work (CSCW)</strong> のアプリケーションにはうまく対応できません。また、ユーザビリティは語義からしてインタフェースが使いやすい（想定されているタスクを遂行しやすい）ことしか保証しません。ユーザは使いやすさ以外にも様々な観点で価値判断を行っています。例えば、ユーザに開発過程に参加してもらう <strong>Participatory Design (PD)</strong> は、ユーザの満足度を向上させ、システムへの愛着を湧かせる非常に有効な手段となります。さらに、システムが革新的な機能を実現するものである場合、開発の初期段階でユーザビリティを測ってしまうとその可能性の芽を摘んでしまう可能性があります。
    p このように、ユーザにとっての価値を高めるために考えることは多く、デザイン手法も様々です。もっと具体的な手法を知りたい場合は、 100 手法を紹介しているカタログ的書籍がありますので、ぜひ読んでみてください。
  .five.wide.column
    p 「
      a(href="https://www.billbuxton.com/usabilityHarmful.pdf") Usability Evaluation Considered Harmful (Some of the Time)
      | 」は、ユーザビリティ評価は使い方を誤れば害になるという主旨の学術論文です。
      a(href="https://www.slideshare.net/saul.greenberg/usability-evaluation-considered-harmful-some-of-the-time") 著者本人による発表スライド
      | と一緒に読むと分かりやすいです。
    a.ui.right.tiny.floated.image(href="https://www.amazon.co.jp/Research-Design-Method-Index-%E3%83%AA%E3%82%B5%E3%83%BC%E3%83%81%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%80%81%E6%96%B0%E3%83%BB100%E3%81%AE%E6%B3%95%E5%89%87/dp/4861008212?&linkCode=li2&tag=digitalmuseum-22&linkId=e636a05eb62ab11181a5af2591c5dcc7&language=ja_JP&ref_=as_li_ss_il"): img(src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4861008212&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=digitalmuseum-22&language=ja_JP")    
    p 「
      a(href="https://www.amazon.co.jp/Research-Design-Method-Index-%E3%83%AA%E3%82%B5%E3%83%BC%E3%83%81%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%80%81%E6%96%B0%E3%83%BB100%E3%81%AE%E6%B3%95%E5%89%87/dp/4861008212?&linkCode=li2&tag=digitalmuseum-22&linkId=e636a05eb62ab11181a5af2591c5dcc7&language=ja_JP&ref_=as_li_ss_il") Research &amp; Design Method Index リサーチデザイン 新・100の法則
      | 」はデザインのためのリサーチ手法を 100 個、各々見開き 2 ページで簡潔に紹介したカタログ的な書籍です。

mixin visualization()
  h2.ui.header: .content 情報提示のデザイン
  h3.ui.header: .content 色のデザイン
  h3.ui.header: .content 動きのデザイン

mixin conclusion()
  h2.ui.header: .content おわりに

mixin revision()
  h2.ui.header
    i.announcement.icon
    | #{en ? 'Revision history' : '更新履歴'}
  .ui.basic.segment: .ui.divided.feed
    block news
      .event: .content
        .date 6/19/2021
        .summary ユーザビリティのセクションを追加
      .event: .content
        .date 5/19/2021
        .summary 執筆中の範囲への導入を追加
      .event: .content
        .date 4/12/2021
        .summary フィッツの法則について加筆; 執筆中の範囲の目次を掲載
      .event: .content
        .date 4/11/2021
        .summary 初版を掲載
