extends ../_layout

block vars
  - title = en ? 'Awards and Publications' : '受賞歴と発表文献';
  - me = 'publications/';
  - var bodyClass = 'with-rail';

block main
  .left-rail
    +publications-menu()
  .right-content
    section#awards
      h1.ui.header
        i.trophy.icon
        .content #{en ? 'Awards' : '受賞歴'}
      +awards()
    .ui.hidden.divider
    section#talks
      h1.ui.header
        i.talk.icon
        .content #{en ? 'Invited Talks' : '招待講演'}
      +talks()
    .ui.hidden.divider
    section#publications
      h1.ui.header
        i.book.icon
        .content #{en ? 'Publications' : '発表文献'}
      +publications()

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup
    +publications-menu()

mixin publications-menu()
  .ui.divided.list
    a.item(href='#awards')
      i.trophy.icon
      .content #{en ? 'Awards' : '受賞歴'}
    a.item(href='#talks')
      i.talk.icon
      .content #{en ? 'Invited Talks' : '招待講演'}
    a.item(href='#publications')
      i.book.icon
      .content #{en ? 'Publications' : '発表文献'}
    block left-rail-list
      .item
        .ui.list
          a.item(href='#selected-publications')
            i.right.triangle.icon
            .content Selected
          a.item(href='#dissertation')
            i.right.triangle.icon
            .content Dissertation
          a.item(href='#reviewed-publications')
            i.right.triangle.icon
            .content Reviewed
          a.item(href='#other-publications')
            i.right.triangle.icon
            .content Others
    a.item(href=`${basePath}timeline/`)
      i.history.icon
      .content #{en ? 'Timeline' : '活動履歴'}

mixin awards()
  .ui.segments
    .ui.secondary.segment
      .ui.horizontal.list
        .item
          i.circle.icon
          .content #{en ? 'Domestic awards' : '国内'}
        .item
          i.world.icon
          .content #{en ? 'International awards' : '国際'}
    .ui.segment
      .ui.divided.list
        - for (const entry of awards) {
        .item(class=entry.entryType)
          i.icon(class=entry.getIconClass())
          .content
            .header !{entry.getText(lang)}
            .description #{entry.getDateString(lang)}
        - }

mixin talks()
  - if (en) {
  .ui.segment
    .ui.divided.list
      - for (const entry of talks) {
      - if (entry.entryType === 'private' || entry.entryType === 'domestic') continue;
      .item(class=entry.entryType)
        .content
          .header !{entry.getText(lang)}
          .description #{entry.getDateString(lang)}
      - }
  - } else {
  .ui.segments
    .ui.secondary.segment
      .ui.horizontal.list
        .item
          i.circle.icon
          .content 国内
        .item
          i.world.icon
          .content 国際
    .ui.segment
      .ui.divided.list
        - for (const entry of talks) {
        - if (entry.entryType === 'private') continue;
        .item(class=entry.entryType)
          i.icon(class=entry.getIconClass())
          .content
            .header !{entry.getText(lang)}
            .description #{entry.getDateString(lang)}
        - }
  - }

mixin publications()
  block publications
    h2.ui.header#selected-publications Selected peer-reviewed publications
    .ui.divided.list
      - for (const entry of selectedPublications) {
      +render-publication(entry)
      - }
    .ui.hidden.divider
    h2.ui.header#dissertation Dissertation
    p 
    .ui.divided.list
      - for (const entry of publications) {
      - if (entry.entryType !== 'phdthesis') continue;
      +render-publication(entry)
      - }
    h2.ui.header#reviewed-publications Journal/conference/workshop publications
    p All of these publications went through a review process; most of these publications are considered either archival or semi-archival.
    .ui.divided.list
      - for (const entry of publications) {
      - if (selectedPublications.indexOf(entry) >= 0) continue;
      - if (entry.entryTags && entry.entryTags.language === 'japanese') continue; // skip Japanese publications
      - if (entry.entryTags && !entry.entryTags.numpages) continue; // skip non-archival publications
      - if (entry.entryType === 'phdthesis') continue;
      +render-publication(entry)
      - }
    .ui.hidden.divider
    h2.ui.header#other-publications Other publications
    p The following publications are either invited articles or non-archival demo/poster papers.
    p 
    .ui.divided.list
      - for (const entry of publications) {
      - if (entry.entryTags && entry.entryTags.language === 'japanese') continue; // skip Japanese publications
      - if (entry.entryTags && entry.entryTags.numpages) continue; // skip archival publications
      - if (entry.entryType === 'phdthesis') continue;
      +render-publication(entry)
      - }