extends ../_layout

block vars
  - var title = en ? 'Awards and Publications' : '受賞歴と発表文献';
  - var me = 'publications/';

block main
  h1.ui.header#awards
    i.trophy.icon
    .content #{en ? 'Awards' : '受賞歴'}
  .ui.segments
    .ui.secondary.segment
      .ui.horizontal.list
        .item
          i.circle.icon
          .content #{en ? 'Domestic awards' : '国内'}
        .item
          i.world.icon
          .content #{en ? 'International awards' : '国際'}
    .ui.segment
      .ui.divided.list
        - for (const entry of awards) {
        .item(class=entry.entryType)
          i.icon(class=entry.getIcon())
          .content
            .header !{entry.getText(lang)}
            .description #{entry.getDateString(lang)}
        - }
  h1.ui.header#publications
    i.book.icon
    .content #{en ? 'Publications' : '発表文献'}
  pre #{JSON.stringify(publications, null, 2)}
