extends ../_layout

block vars
  - title = en ? 'Call for collaborations' : '共同研究';
  - me = 'collaborations/';

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup
    block popup-menu
      .ui.divided.list
        a.item(href='#tech-transfer')
          i.gift.icon
          .content Tech transfer
        a.item(href='#students')
          i.student.icon
          .content Students

block main
  section#collaborations
    h1.ui.header
      i.handshake.icon
      .content #{title}
    .ui.segment: .ui.feed: .event
      .label: img(src=`${rootPath}images/junkato.jpg`)
      .content
        block message
          | Hi! I am open for collaborations with either academia or industry. Please do not hesitate to contact me via 
          a(href=`${rootPath}#contact`) email or social networking services
          | .
    .ui.hidden.clearing.divider
    +collaborations()

mixin collaborations()
  block collaborations
    .ui.stackable.grid
      .eight.wide.column
        h2.ui.header#tech-transfer
          i.gift.icon
          | Tech transfer?
        h3.ui.header Web services
        p My recent projects have been published as web services 
          a(href='#services') as shown below
          | . If you want to try using the technologies, please visit their websites, preferably with modern web browsers.
        h3.ui.header Commercial use
        p My past projects of creativity support tools/environments have been used in university lectures and in commercial events. If you are interested in using them for commercial purpose, contact me.
        h3.ui.header Open source projects
        p Some of my technologies have been published as open-source projects at 
          a(href='https://github.com/arcatdmz')
            i.github.icon
            | GitHub
          | . Did you know that even this website is 
          a(href='https://github.com/arcatdmz/junkato.jp') open-sourced
          | ?
        +services()
      .eight.wide.column
        h2.ui.header#students
          i.student.icon
          | Students?
        p My affiliation (
          a(href='https://www.aist.go.jp/index_en.html'): abbr(title='National Institute of Advanced Industrial Science and Technology') AIST
          | ) is in-between academia and industry; it does not take students but does allow collaborations with them and sometimes hire them as interns. I regularly work with graduate students who are interested in Human-Computer Interaction (HCI) and/or Programming Experience (PX) research.
        p Please contact me if you want to work with me. Keep in mind that, generally speaking, the first step toward working with professional researchers is often meeting them at academic conferences and get them know who you are and what you are doing.
        h3.ui.header Potential ways for collaborations
        p If you are living outside Japan, remote collaborations would be the easiest. If you have an appropriate visa, it would be possible for me to invite you to Tsukuba and work with you for a short term (e.g. regular internship programs for domestic students last for a month or so).
        p Otherwise, if you are still interested in face-to-face collaborations, we could together find visa and funding support. My affiliation currently has a funding from the 
          a(href='https://www.jst.go.jp/kisoken/accel/en/about/index.html') JST ACCEL
          |  program and there are also public funding support such as  
          a(href='http://www.jsps.go.jp/english/e-summer/')
            abbr(title='Japan Society for the Promotion of Science') JSPS
            |  Summer Program
          | .
        h3.ui.header Interested in staying in Japan?
        p Please note that there are currently multiple funding programs that could potentially support graduate students in the HCI research field to come to Japan and work with Japanese top researchers. Please refer to the following websites for more details.
        .ui.list
          .item
            a.header(href='http://www-ui.is.s.u-tokyo.ac.jp/~takeo/recruit.html') JST CREST &quot;HCI for Machine Learning&quot; Program
            .content Prof. Takeo Igarashi, The University of Tokyo
          .item
            a.header(href='https://docs.google.com/forms/d/e/1FAIpQLSeXHuP0Qv2cCdcWJSsQ82oGkJEnm1GPAmudpYMfHsPfwKd63g/viewform') JST ERATO &quot;JIZAI Body&quot; Project
            .content Prof. Masahiko Inami, The University of Tokyo
          .item
            a.header(href='http://www.jst.go.jp/erato/kawahara/member/') JST ERATO &quot;Kawahara Universal Information Network&quot; Project
            .content Prof. Yoshihiro Kawahara, The University of Tokyo
          //.item
            a.header(href='https://sites.google.com/site/jstcrestproject/home') JST CREST &quot;技能獲得メカニズムの原理解明および獲得支援システムへの展開&quot;
            .content Prof. Hideki Koike, Tokyo Institute of Technology

mixin services()
  .ui.divider#services
  - for (const p of recentProjects) {
  .ui.fluid.card(id=`projects-${p.project}`)
    a.image(href=p.getLink(lang, basePath)): img(src=`${rootPath}images/thumbnails/${p.thumbnail}`)
    .content
      a.header(href=p.getLink(lang, basePath)) #{p.getTitle(lang)}
      .content !{p.getDescription(lang)}
  - }

