extends ../_layout

block homehack-vars
  - homehack = 'realmote';

block homehack-main
  h3.ui.header 概要
  .ui.stackable.two.columns.grid
    .column
      p スマートフォンやタブレット端末のWebブラウザから、電灯やエアコン、自動掃除機ルンバなどの家電製品を遠隔操作できるようにした。
      h3.ui.header 開発環境
      ul
        li
          | Java + 
          a(href=`${rootPath}ja/phybots/`) Phybots
          |  on Mac OS X
        li
          a(href='https://www.buffalo.jp/product/detail/pc-op-rs1.html') パソコン用学習リモコン PC-OP-RS1
        li
          a(href='https://www.sparkfun.com/products/684') ルンバ用Bluetoothインタフェース RooTooth
      h3.ui.header 資料
      ul
        li
          | ブログ記事: 
          a(href='https://blog.junkato.jp/ja/posts/2012-12-24-realmote-remote-control/') Realmoteで家のリモコンを一つにまとめる
        li
          | ソースコード: 
          a(href='https://github.com/arcatdmz/realmote')
            i.icon-download
            | GitHub
    .column
      +embed-youtube('//www.youtube.com/embed/bhbW39zoxyg')
    .column
      a.ui.fluid.image(href=`${rootPath}homehack/realmote-edit.jpg`)
        img(src=`${rootPath}homehack/thumbnails/realmote-edit.jpg`)
    .column
      a.ui.fluid.image(href=`${rootPath}homehack/realmote.jpg`)
        img(src=`${rootPath}homehack/thumbnails/realmote.jpg`)
