extends ../_layout

block vars
  - var title = en ? 'Professional Activities' : '職務活動';
  - var me = 'activities/';

block main
  h1.ui.header
    i.student.icon
    | #{title}
  h2.ui.header#meetups
    i.users.icon
    | #{en ? 'Meetups' : '勉強会'}
  - if (en) {
  p I have founded and regularly held meetups for researchers and creators.
  - } else {
  p 年に数回、研究者とクリエータのための勉強会を運営しています。
  - }
  .ui.divided.items.projects#meetups-list
    - for (const p of projects) {
    - if (p.category !== 'committee') continue;
    +render-project-item(p)
    - }
  .ui.hidden.divider
  h2.ui.header#conferences
    i.lab.icon
    | #{en ? 'Academic conferences and journals' : '学会活動'}
  h3.ui.header #{en ? 'Organizing committee' : '運営委員'}
  - if (en) {
  p I have served as committee members for academic conferences and journals.
  - } else {
  p 国際会議や国際ジャーナルの運営委員・プログラム委員を務めてきました。
  - }
  .ui.stackable.three.columns.grid
    .column
      h4.ui.header Human-Computer Interaction
      .ui.list
        .ui.item
          .header <a href="https://uist.acm.org/uist2017/#program-committee" title="The 30th annual ACM symposium on User Interface Software and Technology">ACM UIST 2017</a>
          .meta Program Committee
        .ui.item
          .header <a href="https://chi2017.acm.org/select-subcommittee.html#engineering-interactive-systems" title="The 2017 ACM CHI Conference on Human Factors in Computing Systems">ACM CHI 2017</a> &quot;Engineering Interactive Systems and Technologies&quot;
          .meta Program Committee (Associate Chair)
        .ui.item
          .header <a href="https://uist.acm.org/uist2016/organizers" title="The 29th annual ACM symposium on User Interface Software and Technology">ACM UIST 2016</a>
          .meta Student Volunteer Chair
        .ui.item
          .header <a href="http://www.acm.org/uist/uist2014/organizers.php" title="The 27th annual ACM symposium on User Interface Software and Technology">ACM UIST 2014</a>
          .meta Program Committee
        .ui.item
          .header <a href="http://www.acm.org/uist/uist2013/organizers.php" title="The 26th annual ACM symposium on User Interface Software and Technology">ACM UIST 2013</a>
          .meta Publicity Co-chair
    .column
      h4.ui.header !{en ? 'Programming Experience': 'プログラミング体験 (<abbr title="Programming Experience">PX</abbr>)'}
      .ui.list
        .ui.item
          .header <a href="http://2018.programming-conference.org" title="The International Conference on the Art, Science, and Engineering of Programming">&lt;Programming&gt; 2018</a> <a href="http://2018.programming-conference.org/track/px-2018/" title="The forth edition of the Programming Experience workshop">PX/18</a> workshop
          .meta Program Committee
        .ui.item
          .header <a href="https://2018.programming-conference.org" title="The International Conference on the Art, Science, and Engineering of Programming">&lt;Programming&gt; 2018</a> conference
          .meta Program Committee
        .ui.item
          .header <a href="http://2017.splashcon.org/home" title="The ACM SIGPLAN conference on Systems, Programming, Languages and Applications: Software for Humanity">ACM SPLASH 2017</a> <a href="http://2017.splashcon.org/track/px-17-2">PX/17.2</a> and <a href="https://2017.splashcon.org/track/live-2017">LIVE</a> workshops
          .meta Program Committee
        .ui.item
          .header <a href="http://2017.programming-conference.org" title="The International Conference on the Art, Science, and Engineering of Programming">&lt;Programming&gt; 2017</a> <a href="http://2017.programming-conference.org/track/px-2017/" title="The second edition of the Programming Experience workshop">PX/17.1</a> workshop
          .meta Program Committee
        .ui.item
          .header <a href="http://2016.ecoop.org/home" title="The 30th European Conference on Object-Oriented Programming">ECOOP 2016</a> <a href="http://2016.ecoop.org/track/PX-2016" title="The first edition of the Programming Experience workshop">PX</a> and <a href="http://2016.ecoop.org/track/LIVE-2016" title="The second workshop on Live Programming systems">LIVE</a> workshops
          .meta Program Committee
    .column
      h4.ui.header Human-Robot Interaction #{en ? 'etc.' : 'など'}
      .ui.list
        .ui.item
          .header <a href="http://humanrobotinteraction.org/2017/" title="The 2017 Conference on Human-Robot Interaction">IEEE/ACM HRI 2017</a>
          .meta Demo &amp; Video Co-chair
        .ui.item
          .header <a href="http://iss2016.acm.org/" title="The 2016 ACM International Conference on Interactive Surfaces and Spaces">ACM ISS 2016</a>
          .meta Publicity Co-chair
        .ui.item
          .header <a href="http://hai-conference.net/hai2014/" title="2nd International Conference on Human-Agent Interaction">HAI 2014</a>
          .meta Program Committee
        .ui.item
          .header ACM CHI 2017 Symposium on Emerging Japanese HCI Research Collection (
            a(href="http://hci.tokyo/chi2017/") 2017
            | , 
            a(href="http://hci.tokyo/chi2016/") 2016
            | , 
            a(href="http://hci.tokyo/chi2015/") 2015
            | )
          .meta Organizing Committee
  h3.ui.header #{en ? 'Reviewer' : '査読'}
  - if (en) {
  p I have served as regular reviewers for academic conferences and journals.
  - } else {
  p 以下の国際会議や国際ジャーナルにおいて、学術論文の査読を行ってきました。
  - }
  .ui.horizontal.divided.list.reviewers-list
    .item
      .header: abbr(title='The SIGCHI Conference on Human Factors in Computing Systems') CHI
      .meta 2010, 2015-2018
    .item
      .header: abbr(title='The Annual ACM symposium on User Interface Software and Technology') UIST
      .meta 2014-2015
    .item
      .header: abbr(title='ACM SIGCHI Conference on Designing Interactive Systems') DIS
      .meta 2017
    .item
      .header: abbr(title='ACM/IEEE International Conference on Human-Robot Interaction') HRI
      .meta 2016-2017
    .item
      .header: abbr(title='The International Symposium on Robot and Human Interactive Communication') RO-MAN
      .meta 2015
    .item
      .header: abbr(title='The International Conference and Exhibition on Computer Graphics and Interactive Techniques') SIGGRAPH
      .meta 2015
    .item
      .header: abbr(title='The International Conference on Human-Agent Interaction') HAI
      .meta 2014
    .item
      .header: abbr(title='IEEE Global Conference on Consumer Electronics') GCCE
      .meta 2013-2014
    .item
      .header: abbr(title='ACM Multimedia Conference') MM
      .meta 2012
    .item
      .header: abbr(title='International Conference on Advances in Computer Entertainment Technology') ACE
      .meta 2010-2011
    .item
      .header: abbr(title='IPSJ Forum on Information Technology') FIT
      .meta 2011
  h2.ui.header#miscellaneous
    i.book.icon
    | #{en ? 'Miscellaneous' : 'その他の活動'}
  h3.ui.header 
  ul
    li Organized 12nd Joint Seminar on <a href="http://sigchi.jp/seminar/chi2017/">&quot;Reading All CHI Papers in One Day&quot;</a>, June 25, 2017.
    li Served as a teaching assistant of the &quot;Media Informatics&quot; course for graduate students at The University of Tokyo, Summer 2016.
    li Organized 11th Joint Seminar on <a href="http://hci.tokyo/seminar/chi2016/">&quot;Reading All CHI Papers in One Day&quot;</a>, June 26, 2016.
    li Organized 10th Joint Seminar on <a href="http://hci.tokyo/seminar/chi2015/">&quot;Reading All CHI Papers in One Day&quot;</a>, June 27, 2015.
    li Organized annual symposiums for Japanese researchers and creators of visual media to foster future collaborations for four years in a row since 2012.
    li Consulted user interface design for <a href="http://en.wikipedia.org/wiki/Gargantia_on_the_Verdurous_Planet">new animated television series</a>, October, 2011.
    li Organized 6th Joint Seminar on &quot;Reading All CHI Papers in One Day&quot;, September 8, 2011.
    li Served as a teaching assistant of the &quot;Media Informatics&quot; course for graduate students at The University of Tokyo, Winter 2008.
