extends ../_layout

block vars
  - title = en ? 'Professional Activities' : '職務活動';
  - me = 'activities/';
  - confArr = ["ACM CHI", "ACM UIST", "ACM DIS", "ACM SPLASH"];
  - hciArr = ['CHI', 'UIST', 'IUI'];
  - pxArr = ['LIVE', 'SPLASH', 'VL/HCC', 'Programming', 'ECOOP', 'PX/'];
  - rf = (organizer) => (( p, c) => p && organizer.event.name.indexOf(c) < 0 && (!organizer.conference || organizer.conference.name.indexOf(c) < 0));
  - rfx = (organizer) => ((p, c) => p || organizer.event.name.indexOf(c) >= 0 || (organizer.conference && organizer.conference.name.indexOf(c) >= 0));
  - function formatYears(years) {
  -   years.sort(function(a, b) { return a - b; });
  -   var ranges = [];
  -   var start = years[0];
  -   var end = years[0];
  -
  -   for (var i = 1; i <= years.length; i++) {
  -     if (years[i] === end + 1) {
  -       end = years[i];
  -     } else {
  -       if (start === end) {
  -         ranges.push('' + start);
  -       } else {
  -         ranges.push(start + '-' + end);
  -       }
  -       start = years[i];
  -       end = years[i];
  -     }
  -   }
  -   return ranges.join(', ');
  - }

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup: .ui.divided.list
    a.item(href='#meetups')
      i.users.icon
      .content #{en ? 'Meetups' : '勉強会'}
    a.item(href='#services')
      i.lab.icon
      .content #{en ? 'Academic' : '学会活動'}
    a.item(href='#miscellaneous')
      i.book.icon
      .content #{en ? 'Others' : 'その他'}
    a.item(href='#places')
      i.world.icon
      .content #{en ? 'Visited places' : '訪問先'}

block main
  section
    h1.ui.header
      i.student.icon
      | #{title}
    .ui.segment: .ui.feed: .event
      .label: img(src=`${rootPath}images/junkato.jpg`)
      .content
        block message
          | Hi! I am open for collaborations. Please see 
          a(href=`${basePath}collaborations/`)
            i.handshake.icon
            | Collaborations
          |  for more details.
  .ui.hidden.clearing.divider
  section#meetups: +meetups()
  .ui.hidden.divider
  section#services: +services()
  .ui.hidden.divider
  section#places: +places()

mixin meetups()
  h2.ui.header
    i.users.icon
    | #{en ? 'Meetups' : '勉強会'}
  - if (en) {
  p I have founded and regularly held seminars and meetups for researchers and creators.
  - } else {
  p 研究者とクリエータのための講演会や勉強会を運営しています。
  - }
  .ui.divided.items.projects#meetups-list
    - for (const p of projects) {
    - if (p.category !== 'committee') continue;
    +render-project-item(p)
    - }

mixin services()
  h2.ui.header
    i.lab.icon
    | #{en ? 'Academic services' : '学会活動'}
  section#oc
    h3.ui.header #{en ? 'Organizing committee' : '運営委員'}
    - if (en) {
    p I have served as organizing committee members for academic conferences and workshops.
    - } else {
    p 国際会議やワークショップなどを運営してきました。
    - }
    .ui.stackable.two.columns.grid
      .column
        +services-oc-hci()
      .column
        +services-oc-misc()
        +services-oc-px()
        +services-oc-domestic()
  .ui.divider
  section#pc
    h3.ui.header #{en ? 'Program committee' : 'プログラム委員'}
    - if (en) {
    p I have served as program committee members for academic conferences and journals.
    - } else {
    p 国際会議、ワークショップやジャーナルなどのプログラム委員を務めてきました。
    - }
    .ui.stackable.two.columns.grid
      .column
        +services-pc-hci()
        +services-pc-misc()
      .column
        +services-pc-px()
        +services-pc-domestic()
  .ui.divider
  h3.ui.header #{en ? 'Reviewer' : '査読'}
  - if (en) {
  p I have served as regular reviewers for academic conferences and journals.
  - } else {
  p 以下の国際会議や国際ジャーナルにおいて、学術論文の査読を行ってきました。
  - }
  .ui.horizontal.divided.list.reviewers-list
    +services-reviewers()
  .ui.hidden.divider
  section#miscellaneous: +services-miscellaneous()

mixin print-service-organizer(organizer)
  .ui.item
    .header: a(href=organizer.event.url || organizer.url, title=organizer.event.fullname) #{organizer.event.name}
    .meta
      - if (organizer.track) {
      | #{organizer.track.fullname || organizer.track.name} 
      - }
      | #{organizer.title}
      - if (organizer.subtitle) {
      |  (#{organizer.subtitle})
      - }

mixin services-pc-hci()
  h4.ui.header Human-Computer Interaction
  .ui.list
    - for (let organizer of misc.services.organizers) {
    - if (hciArr.reduce(rf(organizer), true)) continue;
    - if (organizer.class === "chair" || organizer.class === "oc") continue;
    +print-service-organizer(organizer)
    - }

mixin services-pc-px()
  h4.ui.header !{en ? 'Programming Experience': 'プログラミング体験 (<abbr title="Programming Experience">PX</abbr>)'}
  .ui.list
    - for (let organizer of misc.services.organizers) {
    - if (pxArr.reduce(rf(organizer), true)) continue;
    - if (organizer.class === "chair" || organizer.class === "oc") continue;
    +print-service-organizer(organizer)
    - }

mixin services-pc-misc()
  h4.ui.header #{en ? 'Computer Graphics, Human-Robot Interaction, etc.' : 'Computer Graphics, Human-Robot Interaction など'}
  .ui.list
    - for (let organizer of misc.services.organizers) {
    - if ([...hciArr, ...pxArr].reduce(rfx(organizer), false)) continue;
    - if (organizer.class === "chair" || organizer.class === "oc") continue;
    +print-service-organizer(organizer)
    - }

mixin services-pc-domestic()
  - if (!en) {
  h4.ui.header 国内会議
  .ui.list
    .ui.item
      .header 情報処理学会シンポジウム <a href="https://www.interaction-ipsj.org">インタラクション</a>
      .meta プログラム委員 (2017-#{new Date().getFullYear()})
    .ui.item
      .header 日本ソフトウェア科学会 <a href="https://wiss.org/" title="インタラクティブシステムとソフトウェアに関するワークショップ">WISS</a>
      .meta プログラム委員 (2015-2019)
  - }

mixin services-oc-hci()
  h4.ui.header Human-Computer Interaction
  .ui.list
    - for (let organizer of misc.services.organizers) {
    - if (hciArr.reduce(rf(organizer), true)) continue;
    - if (organizer.class !== "chair" && organizer.class !== "oc") continue;
    +print-service-organizer(organizer)
    - }

mixin services-oc-px()
  h4.ui.header !{en ? 'Programming Experience': 'プログラミング体験 (<abbr title="Programming Experience">PX</abbr>)'}
  .ui.list
    - for (let organizer of misc.services.organizers) {
    - if (pxArr.reduce(rf(organizer), true)) continue;
    - if (organizer.class !== "chair" && organizer.class !== "oc") continue;
    +print-service-organizer(organizer)
    - }

mixin services-oc-misc()
  h4.ui.header #{en ? 'Computer Graphics, Human-Robot Interaction, etc.' : 'Computer Graphics, Human-Robot Interaction など'}
  .ui.list
    - for (let organizer of misc.services.organizers) {
    - if ([...hciArr, ...pxArr].reduce(rfx(organizer), false)) continue;
    - if (organizer.class !== "chair" && organizer.class !== "oc") continue;
    +print-service-organizer(organizer)
    - }

mixin services-oc-domestic()
  - if (!en) {
  h4.ui.header 国内会議
  .ui.list
    .ui.item
      .header 日本ソフトウェア科学会 <a href="https://wiss.org/" title="インタラクティブシステムとソフトウェアに関するワークショップ">WISS</a>
      .meta Web/投票/ローカルサーバ担当 運営委員 (2015-2019)
    .ui.item
      .header 情報処理学会 <a href="https://ipsj-one.org/">IPSJ-ONE</a>
      .meta Web担当 運営委員 (
        a(href="https://ipsj-one.org/2015/") 2015
        | , 
        a(href="https://ipsj-one.org/2017/") 2017
        | )
  - }

mixin services-reviewers()
  - for (let reviewer of misc.services.reviewers) {
  .item
    .header
      abbr(title=reviewer.title) #{reviewer.venue}
    .meta #{formatYears(reviewer.years)}
  - }

mixin services-miscellaneous()
  h2.ui.header
    i.book.icon
    | #{en ? 'Miscellaneous' : 'その他の活動'}
  .ui.divided.list.miscellaneous-list
    - for (let activity of misc.services.miscellaneous) {
    - const date = en ? activity.date : (activity.ja && activity.ja.date) || activity.date || "";
    - const description = (!en && activity.ja && activity.ja.description) || activity.description || "";
    - let url = null;
    - if (activity.url && (en || !(activity.ja && activity.ja.url))) {
    - url = activity.url;
    - } else if (!en && activity.ja && activity.ja.url) {
    - url = activity.ja.url;
    - }
    - const linkOrDescription = url ? `<a href="${url}">${description}</a>` : description;
    .item: .content
      .header !{en || !(activity.ja && activity.ja.title) ? activity.title : activity.ja.title}
      .meta !{[date, linkOrDescription].filter(Boolean).join(", ")}
    - } 
    .item
      i.paint.brush.icon
      .content
        .header #{en ? "Graphic & Interaction Design" : "グラフィック & インタラクションデザイン"}
        .meta !{en ? `Please refer to <a href=\"${rootPath}design\">the design portfolio</a>.` : `<a href=\"${rootPath}ja/design\">デザインのポートフォリオ</a>をご覧ください。`}
    .item
      i.talk.icon
      .content
        .header #{en ? "Invited talks" : "招待講演"}
        .meta !{en ? `Please refer to <a href=\"${rootPath}publications/#talks\">the dedicated section in Publications</a>.` : `<a href=\"${rootPath}ja/publications/#talks\">発表文献の該当箇所</a>をご覧ください。`}
    .item
      i.graduation.cap.icon
      .content
        .header #{en ? "Lectures" : "講義"}
        .meta !{en ? `Please refer to <a href=\"${rootPath}publications/#lectures\">the dedicated section in Publications</a>.` : `<a href=\"${rootPath}ja/publications/#lectures\">発表文献の該当箇所</a>をご覧ください。`}

mixin places()
  h2.ui.header
    i.world.icon
    | #{en ? 'Visited places' : '訪問先'}
  .ui.stackable.two.columns.grid
    .column
      iframe(width="100%", height="360", frameborder="0", src="https://www.google.com/maps/d/embed?mid=1DBSXYXwQgOVT29JJVTur1dulUC4")
    .column
      .ui.divided.list
        - misc.services.attendances.filter(c => confArr.indexOf(c.name) >= 0).forEach(conference => {
        .item
          .header: abbr(title=conference.title) #{conference.name}
          .meta
            - let totalLocations = conference.locations.length
            - conference.locations.forEach((location, index) => {
              a(href=location.link) #{location.year}
              |  (#{location.city}, #{location.country})
              - if (index < totalLocations - 1) {
                | , 
              - }
            - })
        - })
        .item
          .header #{en ? 'Other attended conferences' : 'その他の国際会議'}
          .meta
            - const oConfArr = misc.services.attendances.filter(c => confArr.indexOf(c.name) < 0);
            - oConfArr.forEach((conf, confIndex) => {
            - conf.locations.forEach((location, locIndex) => {
            a(href=location.link, title=location.title || undefined) #{conf.name} #{location.year}
            |  (#{location.city}, #{location.country})
            - if (locIndex < conf.locations.length - 1 || confIndex < oConfArr.length - 1) {
              | , 
            - }
            - });
            - });
