doctype html
- const url = `${protocol}://${domain}${rootPath}live-tuning`;
html(lang='ja')
  head
    meta(http-equiv='refresh', content=`0; URL='${url}'`)
    title Redirecting ...
  body
    p: a(href=url) 日本語のページはありません