extends ../_layout

block vars
  - p = projectsTable['lyric-app-framework'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup: .ui.divided.list
    a.item(href='#body')
      i.chevron.circle.up.icon
      .content #{en ? 'Top' : 'トップ'}
    a.item(href='#abstract')
      i.right.triangle.icon
      .content #{en ? 'Abstract' : '概要'}
    a.item(href='#presentations')
      i.right.triangle.icon
      .content #{en ? 'Presentations' : '発表内容'}
    a.item(href='#publications')
      i.right.triangle.icon
      .content #{en ? 'Publications' : '発表文献'}
    a.item(href='#revisions')
      i.right.triangle.icon
      .content #{en ? 'Revisions' : '更新履歴'}
    a.item(href='#further-readings')
      i.right.triangle.icon
      .content #{en ? 'Relevant project' : '関連プロジェクト'}

block main-hero-unit
  +render-project-hero('lyric-app-framework')

block main
  .ui.two.columns.grid: .stackable.row
    .column: section#abstract
      h2.ui.header: .content #{en ? 'Abstract' : '概要'}
      .ui.basic.segment
        - if (en) {
        p: img.ui.bordered.image(src="/images/thumbnails/lyric-app-framework.png")
        - }
        - else {
        p: img.ui.bordered.image(src=`${basePath}lyric-app-framework/sigmus138-kato-lyric-apps-slides-p4_thumbnail.png`)
        //- - let images = [3, 4, 9, 14, 17, 19, 24, 25, 29, 31, 41]
        //- .ui.stackable.four.columns.grid
        //-   .column: a(href=`${basePath}lyric-app-framework/sigmus138-kato-lyric-apps-slides.png`): img.ui.bordered.image(src=`${basePath}lyric-app-framework/sigmus138-kato-lyric-apps-slides.png`)
        //-   - for (let image of images) {
        //-   .column: a(href=`${basePath}lyric-app-framework/sigmus138-kato-lyric-apps-slides-p${image}.png`): img.ui.bordered.image(src=`${basePath}lyric-app-framework/sigmus138-kato-lyric-apps-slides-p${image}_thumbnail.png`)
        //-   - }
        - }
        p !{p.getDescription(lang)}
    .column: section#programming-contest
      h2.ui.header: .content #{en ? 'Programming Contests' : 'プログラミング・コンテスト'}
      .ui.basic.segment 
        - if (en) {
        p: img.ui.bordered.image(src=`${basePath}lyric-app-framework/mm2023procon_thumbnail.png`)
        p We made the framework publicly available in 2020 and has been conducting an annual programming contest in 
          a(href='https://magicalmirai.com') &quot;Hatsune Miku Magical Mirai&quot;
          |  &mdash; a live show and exhibition, connecting with Hatsune Miku through creativity. 
        ul.ui.horizontal.divided.list
          a.item(href='https://magicalmirai.com/2020/procon') 2020 (Japanese)
          a.item(href='https://magicalmirai.com/2021/procon') 2021 (Japanese)
          a.item(href='https://magicalmirai.com/10th/procon/index_en.html') 2022
          a.item(href='https://magicalmirai.com/2023/procon/index_en.html') 2023
        - } else {
        p: img.ui.bordered.image(src=`${basePath}lyric-app-framework/interaction2024-kato-lyric-apps-slides-p27_thumbnail.png`)
        p 本フレームワークの「TextAlive App API」を活用したプログラミング・コンテストが、2020年より「
          a(href='https://magicalmirai.com') 初音ミク『マジカルミライ』
          | 」で開催されています。詳しくは各年のコンテスト公式サイトをご覧ください。2020-2021年の応募作品については論文でも報告されています。
        ul.ui.horizontal.divided.list
          strong.item 公式サイト
          a.item(href='https://magicalmirai.com/2020/procon') 2020
          a.item(href='https://magicalmirai.com/2021/procon') 2021
          a.item(href='https://magicalmirai.com/10th/procon') 2022 (10th Anniversary)
          a.item(href='https://magicalmirai.com/2023/procon') 2023
        ul.ui.horizontal.divided.list
          strong.item 入選作品一覧
          a.item(href='https://magicalmirai.com/2020/procon/entry.html') 2020
          a.item(href='https://magicalmirai.com/2021/procon/entry.html') 2021
          a.item(href='https://magicalmirai.com/10th/procon/entry.html') 2022 (10th Anniversary)
          a.item(href='https://magicalmirai.com/2023/procon/entry.html') 2023
        - }
  .ui.basic.right.aligned.segment
    a.ui.primary.button(href='//developer.textalive.jp')
      i.external.icon
      | #{en ? 'Framework Website' : 'フレームワークのWebサイトへ'}
  .ui.hidden.divider
  section#presentations: +presentations()
  .ui.hidden.divider
  +render-project-publications(p.project, 'chi2023-kato-lyric-app-framework')
  .ui.hidden.divider
  section#revisions: +revisions()
  .ui.hidden.divider
  section#further-readings: +further-readings()

mixin presentations()
  h2.ui.header: .content #{en ? 'Presentation materials' : '発表内容'}
  .ui.basic.segment 
    - if (!en) {
    h3.ui.header#interaction2024
      .content
        | 第28回 一般社団法人情報処理学会シンポジウム インタラクション2024
        .sub.header
          i.ui.trophy.icon
          | 最優秀論文賞・インタラクティブ発表賞 (一般投票)
    table.ui.striped.very.basic.table: tbody
      tr
        td.three.wide 会場
        td.thirteen.wide: .ui.list: .item
          i.map.pin.icon
          .content 学術総合センター内 一橋記念講堂
      tr
        td.three.wide 日時
        td.thirteen.wide: .ui.list: .item
          i.clock.icon
          .content: a(href='https://www.interaction-ipsj.org/2024/program/#video') 2024/3/6 (水) 9:30-9:50
      tr
        td.three.wide 論文
        td.thirteen.wide: .ui.list: .item
          i.text.file.icon
          .content: a(href=`${rootPath}publications/interaction2024-kato-lyric-apps.pdf`) Lyric App Framework: インタラクティブな歌詞駆動型視覚表現の開発用フレームワーク
    .ui.two.columns.grid: .stackable.row
      .column: .ui.basic.segment
        +embed-youtube('//www.youtube.com/embed/tBBcweuGdrc?start=2061')
        p.caption 講演の録画
      .column: .ui.basic.segment
        .ui.embed(data-url=publicationsTable['interaction2024-kato-lyric-app-framework'].entryTags.slides, data-placeholder=`${basePath}lyric-app-framework/interaction2024-kato-lyric-apps-slides.png`, data-icon='video play outline')
        .caption: .ui.horizontal.list
          .item
            a(href=publicationsTable['interaction2024-kato-lyric-app-framework'].entryTags.slides)
              i.download.icon
              | #{en ? 'Download' : 'ダウンロード'}
    h3.ui.header#sigmus138
      .content
        | 第138回音楽情報科学研究発表会 (SIGMUS)
        .sub.header
          i.ui.trophy.icon
          | ベストプレゼンテーション賞 (Best Research部門)
    table.ui.striped.very.basic.table: tbody
      tr
        td.three.wide 会場
        td.thirteen.wide: .ui.list: .item
          i.map.pin.icon
          .content 明治大学 中野キャンパス
      tr
        td.three.wide 日時
        td.thirteen.wide: .ui.list: .item
          i.clock.icon
          .content: a(href='https://www.ipsj.or.jp/kenkyukai/event/mus138.html') 2023/8/27 (日) 13:30-13:55
      tr
        td.three.wide 論文
        td.thirteen.wide: .ui.list: .item
          i.text.file.icon
          .content: a(href=`${rootPath}publications/sigmus138-kato-lyric-apps.pdf`) TextAlive App API:「リリックアプリ」の提案とプログラミング・コンテストでの実証実験
    .ui.two.columns.grid: .stackable.row
      .column: .ui.basic.segment
        +embed-youtube('//www.youtube.com/embed/yTS5600B4pg')
        p.caption プレゼンテーション再録
      .column: .ui.basic.segment
        .ui.embed(data-url=publicationsTable['sigmus138-kato-lyric-app-framework'].entryTags.slides, data-placeholder=`${basePath}lyric-app-framework/sigmus138-kato-lyric-apps-slides.png`, data-icon='video play outline')
        .caption: .ui.horizontal.list
          .item
            a(href=publicationsTable['sigmus138-kato-lyric-app-framework'].entryTags.slides)
              i.download.icon
              | #{en ? 'Download' : 'ダウンロード'}
    .ui.hidden.divider
    h3.ui.header#chi2023
      .content
        | ACM CHI 2023
        - if (!en) {
        .sub.header
          i.ui.trophy.icon
          | Honorable Mention Award
        - }
    - }
    table.ui.striped.very.basic.table: tbody
      tr
        td.three.wide #{en ? 'Where?' : '会場'}
        td.thirteen.wide: .ui.list: .item
          i.map.pin.icon
          .content Room Y07 + Y08, Congress Center Hamburg (CCH)
      tr
        td.three.wide #{en ? 'When?' : '日時'}
        td.thirteen.wide: .ui.list: .item
          i.clock.icon
          .content: a(href='https://www.timeanddate.com/worldclock/fixedtime.html?msg=ACM+CHI+2023%3A+Lyric+App+Framework+paper+presentation&iso=20230427T09&p1=307&am=14') Thu, Apr 27 | 09:00 - 09:14
      tr
        td.three.wide CHI '23 Program
        td.thirteen.wide: .ui.list: .item
          i.book.icon
          .content: a(href='https://programs.sigchi.org/chi/2023/program/content/96444') Lyric App Framework: A Web-based Framework for Developing Interactive Lyric-driven Musical Applications - CHI '23
  .ui.two.columns.grid: .stackable.row
    .column: .ui.basic.segment
      +embed-youtube('//www.youtube.com/embed/7XpDPghxdCE')
      p.caption #{en ? 'CHI 2023 Video Preview (30s)' : 'CHI 2023 Video Preview（30秒）'}
    .column: .ui.basic.segment
      +embed-youtube('//www.youtube.com/embed/sX4Cdcljqd0')
      p.caption CHI 2023 Pre-recorded Presentation Video

mixin revisions()
  h2.ui.header
    i.announcement.icon
    | #{en ? 'Revision history' : '更新履歴'}
  .ui.basic.segment: .ui.divided.feed
    block news
      - if (en) {
      .event: .content
        .date 09/02/2023
        .summary Added links to &quot;Hatsune Miku Magical Mirai&quot; programming contest websites.
      - } else {
      .event: .content
        .date 03/11/2024
        .summary インタラクションでの講演の録画を追加、「初音ミク『マジカルミライ』」プログラミング・コンテスト入選作品一覧へのリンクを追加
      .event: .content
        .date 09/02/2023
        .summary SIGMUSでのプレゼン再録動画を追加、「初音ミク『マジカルミライ』」プログラミング・コンテストへのリンクを追加
      .event: .content
        .date 08/27/2023
        .summary 第138回音楽情報科学研究発表会 (SIGMUS) での発表資料を追加
      - }
      .event: .content
        .date 04/19/2023
        .summary #{en ? 'Added a pre-recorded presentation video' : '事前録画のプレゼンテーション動画を追加'}
      .event: .content
        .date 04/16/2023
        .summary #{en ? 'Added a video preview' : 'Video Preview を追加'}
      .event: .content
        .date 03/31/2023
        .summary #{en ? 'Added a project page' : 'プロジェクトページを仮公開'}

mixin further-readings()
  h2.ui.header
    i.gift.icon
    .content #{en ? 'Relevant project' : '関連プロジェクト'}
  .ui.basic.segment
    .ui.segment: .ui.divided.items.projects
      +render-project-item(projectsTable['textalive'])
      +render-project-item(projectsTable['creativity-support-environments'])
