extends ../_layout

block vars
  - p = projectsTable['lyric-app-framework'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup: .ui.divided.list
    a.item(href='#body')
      i.chevron.circle.up.icon
      .content #{en ? 'Top' : 'トップ'}

block main
  +render-project-header('lyric-app-framework')
  .ui.hidden.divider
  section#abstract
    h2.ui.header: .content #{en ? 'Abstract' : '概要'}
    .ui.basic.segment
      p !{p.getDescription(lang)}
      p: img.ui.bordered.image(src="/images/thumbnails/lyric-app-framework.png")
  .ui.hidden.divider
  +render-project-publications(p.project, 'chi2023-kato-lyric-app-framework')
  .ui.divider
  section#revision: +revision()

mixin revision()
  h2.ui.header
    i.announcement.icon
    | #{en ? 'Revision history' : '更新履歴'}
  .ui.basic.segment: .ui.divided.feed
    block news
      .event: .content
        .date 03/31/2023
        .summary #{en ? 'Added a project page' : 'プロジェクトページを仮公開'}
