extends ../_layout

block homehack-vars
  - homehack = 'fungus-camera';

block homehack-main
  .ui.stackable.four.columns.grid
    .column: a.ui.fluid.image(href=`${rootPath}homehack/fungus-prototype.jpg`)
        img(src=`${rootPath}homehack/thumbnails/fungus-prototype.jpg`)
    .column: a.ui.fluid.image(href=`${rootPath}homehack/fungus-prototype-2.jpg`)
        img(src=`${rootPath}homehack/thumbnails/fungus-prototype-2.jpg`)
    .column: a.ui.fluid.image(href=`${rootPath}homehack/fungus-camera.jpg`)
        img(src=`${rootPath}homehack/thumbnails/fungus-camera.jpg`)
    .column: a.ui.fluid.image(href=`${rootPath}homehack/fungus-box.jpg`)
        img(src=`${rootPath}homehack/thumbnails/fungus-box.jpg`)
  .ui.stackable.two.columns.grid
    .column
      p なめこの生育を観察する定点カメラを開発した。冷暗所（玄関）での観察を可能にするため、明かりのON→撮影→OFFを自動で行ってくれるようなデバイスを作成した。
      p ついでに、玄関の明かりのスイッチがドアから遠い問題（明かりをつけようとしている間にドアが閉まって真っ暗になる）を解決するため、このデバイスに近づくと明かりをONにして、遠ざかってしばらくするとOFFにする機能もつけた。
      h3.ui.header 開発環境
      ul
        li Arduino, Bash script, Java
        li Mac mini
      h3.ui.header 資料
      ul
        li
          | ブログ記事: 
          a(href='https://junkato.jp/ja/blog/2012/12/18/mac-os-x-launchd/') Mac OS Xでスクリプトを定期実行する
        li
          | ソースコード: 
          a(href='https://github.com/arcatdmz/namekocam-server') GitHub
        li
          | 半年間の全成長記録: 
          a(href='//www.youtube.com/watch?v=ggH3Y_goGtM') YouTube
    .column
      a.ui.fluid.image(href=`${rootPath}homehack/fungus-camera-image.jpg`)
        img(src=`${rootPath}homehack/fungus-camera-image.jpg`)
  .ui.stackable.two.columns.grid
    .column
      +embed-youtube('//www.youtube.com/embed/6etDXqnFnSM')
    .column
      +embed-youtube('//www.youtube.com/embed/rFeTAwY_d_Y')
