extends ../_layout

block vars
  - p = projectsTable['multirobot'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block main
  +render-project-header('multirobot')
  .ui.hidden.divider
  .ui.stackable.two.columns.grid
    .column
      section#abstract: +abstract()
      section#interaction: +interaction()
    .column: section#videos: +videos()
  +render-project-publications('multirobot', 'chi2009-kato-multirobot')

mixin abstract()
  h2.ui.header #{en ? 'Abstract' : '概要'}
  .ui.basic.segment
    block abstract
      p Existing user interfaces for controlling mobile robots in real-time are generally for only one robot. Controlling multiple robots simultaneously is difficult. We developed a multi-touch interface with a top-down view from a ceiling-mounted camera for simultaneously controlling multiple mobile robots. Users touch and move their hands on the screen to specify the vector field, and all the robots move along the vector field.
        // We also combined the vector field with a collision avoidance method using a potential field. 
        |  The test users in our study successfully operated multiple robots simultaneously with our interface.
      p This was my graduate thesis work and won 1
        sup st
        | place at CHI 2009 
        a(href='https://src.acm.org/winners/2010') Student Research Competition
        | .
  .ui.hidden.divider

mixin interaction()
  h2.ui.header #{en ? 'Multi-touch Vector Field Operation' : 'ベクトル場を用いた複数ロボットの同時操作'}
  .ui.basic.segment
    block interaction
      p With our multi-touch interface, users can navigate multiple robots simultaneously through three operation modes. Please note that the users do not need to switch between these modes explicitly.
      dl
        dt: strong Drag
        dd When users touch and drag their hands along the panel, a virtual stream appears on the vector field and robots move in accordance with the stream.
        dt: strong Mix
        dd When users drag their fingers on existing streams, the vector data near the streams are blended in proportion to their distances from the streams. Nearer streams affect the vectors more strongly.
        dt: strong Hold
        dd Touching the panel without further motion will reset the vectors under that hand. Thus, we can stop a robot by touching and holding an area in front of the robot.
  .ui.hidden.divider

mixin videos()
  +embed-youtube('//www.youtube.com/embed/zGioJvhsoIY')
  .caption: .ui.horizontal.list
    .item
      a(href='//www.youtube.com/watch?v=QKtzsOU-sA8')
        i.youtube.icon
        | YouTube
  .ui.hidden.divider
  a.ui.fluid.image(href=`${rootPath}multirobot/operations.png`)
    img(src=`${rootPath}multirobot/operations.png`)
  .caption #{en ? 'Three operation modes' : '3つの操作モード'}
  .ui.hidden.divider
