extends ../_layout

block vars
  - p = projectsTable['teaparty'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block main
  +render-project-header('teaparty')
  .ui.hidden.divider
  .ui.stackable.grid
    .ten.wide.column: +body()
    .six.wide.column: +images()

mixin body()
  section
    h2.ui.header#summary #{en ? 'Summary' : '概要'}
    .ui.basic.segment: block summary
      p &quot;Indescribable tea party&quot; welcomes people who have full of curiosity in wide range of topics relevant to the future of media content, science, and technology. The media content includes but is not limited to: animations, games, illustrations, music, novels, etc.
      p All attendees are expected to provide presentations of varying durations (from 1 min lightning talk to 30 min long presentation) to get to know each other and learn the cutting edge of creating/delivering/enjoying media content.
      p: strong (NOTE: This event has nothing to do with the Tea Party movement!)
  .ui.hidden.divider
  section#past-events
    h2.ui.header #{en ? 'Past Events' : 'イベント一覧'}
    .ui.basic.segment: block past-events
      h3.ui.header 7th Party: 1/28/2018 @ Wantedly, Inc.
      p 32 people from industry and academia gathered and presented in the organized sessions including Science, Technology, Telling stories, Playing music, Animating creatures, and Drawing illustrations. Slack chat was used for the backchannel of the presentations.
      h3.ui.header 6th Party: 2/12/2017 @ Wantedly, Inc.
      p 36 people from industry and academia gathered and presented their work in the following sessions: AI &amp; IA, Media Content and Society, Startups, Design, Interaction, etc. There was also a panel session in which Prof. Inami (
        a(href='https://star.rcast.u-tokyo.ac.jp/') The University of Tokyo
        | ), Mr. Hirasawa (
        a(href='https://uspi.jp/') USP
        | ), and Dr. Kato discussed the future of creativity support research and development.
      h3.ui.header 5th Party: 2/13/2016 @ Wantedly, Inc.
      p &gt;30 people attended the event. A variety of presentations relevant to science, technology, and media content were provided, forming the following sessions: Music, Video, Food, Game, Ethnography, Business, 2D/3D/Fabrication, and lightning talks.
      h3.ui.header 4th Party: 1/24/2015 @ DMM.make AKIBA BASE
      p Lots of attendees! Organized sessions for the first time: Creators' Showcase #1/#2, Science and Education, Human/Computer/Intelligence, Game, Oversea, Media Content for the Five Senses, Understanding and Creating Content, and the Shotgun Session.
      h3.ui.header 1st - 3rd Parties: 2012-2014 @ Lab-Cafe
      p Researchers, engineers, artists, producers, and fans of media content gathered at a cozy Lab-Cafe and provided presentations, getting to know each other and learn the cutting edge of creating media content.
  .ui.hidden.divider

mixin images()
  img.ui.fluid.image(src=`${rootPath}teaparty/20160213-5th-teaparty.jpg`)
  .caption #{en ? 'A photo from the 5th party' : '第5回の模様'}
  .ui.hidden.divider
  img.ui.fluid.image(src=`${rootPath}teaparty/20140301-3rd-teaparty.jpg`)
  .caption #{en ? 'A photo from the 3rd party' : '第3回の模様'}
  .ui.hidden.divider
  img.ui.fluid.image(src=`${rootPath}teaparty/20130105-2nd-teaparty.jpg`)
  .caption #{en ? 'A photo from the 2nd party' : '第2回の模様'}
  .ui.hidden.divider