extends ../_layout

block vars
  - p = projectsTable['visionsketch'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block main
  +render-project-header('visionsketch')
  .ui.message
    block message
      | Source code is available on 
      a(href='https://github.com/arcatdmz/visionsketch/') GitHub
      | ! It works on both Windows and Mac OS X.

  .ui.hidden.divider
  section#abstract
    h2.ui.header
      .content #{en ? 'Abstract' : '概要'}
    .ui.basic.segment
      block abstract
        p We propose an integrated development environment (IDE) called &quot;VisionSketch&quot;, which supports example-centric programming for easily building image processing pipelines.
        p With VisionSketch, a programmer is first asked to select the input video. Then, he can start building the pipeline with a visual programming language that provides immediate graphical feedback for algorithms applied to the video. He can also use a text-based editor to create or edit the implementation of each algorithm.
        p During the development, the pipeline is always ready for execution with a video player-like interface enabling rapid iterative prototyping. In a preliminary user study, VisionSketch was positively received by five programmers, who had prior experience of writing text-based image processing programs and could successfully build interesting applications.
        //              
          <p>Text is not always the best for representing computational procedures. In particular, image processing takes image and its relevant information, e.g., position and area in the image as arguments and outputs new image. Regarding this visual nature of image processing, we propose VisionSketch, a domain-specific programming language and its integrated development environment to rapidly build and run an image processing pipeline.</p>
          <p>The user first opens an image or video and sketches shapes on it to specify the area of interest. Then, she chooses an image processing operation which takes the area as an input. Its output is immediately shown to the right of the input image so that the desired set of arguments and operation can be easily found.</p>
          <p>With VisionSketch, an image processing pipeline is built by the iterative cycle of sketching shapes and choosing an operation, which is akin to writing program sentences in a text-based language. In this paper, we present VisionSketch system with several example applications.</p>
  .ui.hidden.divider
  section#presentations
    h2.ui.header #{en ? 'Presentation materials' : '発表内容'}
    .ui.basic.segment
      .ui.stackable.two.columns.grid
        .column
          h3.ui.header GI 2014 #{en ? 'Demo Video' : 'デモ動画'}
          +embed-youtube('//www.youtube.com/embed/I6FTOVygHxc')
          .caption: .ui.horizontal.list
            .item
              a(href='//www.youtube.com/watch?v=I6FTOVygHxc')
                i.youtube.icon
                | YouTube
        .column
          h3.ui.header GI 2012 #{en ? 'Slides' : '発表スライド'}
          .ui.embed(data-url=publicationsTable[p.publication].entryTags.slides, data-placeholder=`${rootPath}images/background-eee.png`, data-icon='video play outline')
          .caption: .ui.horizontal.list
            .item
              a(href=publicationsTable[p.publication].entryTags.slides)
                i.download.icon
                | #{en ? 'Download' : 'ダウンロード'}
  .ui.hidden.divider
  section
    h2 VisionSketch IDE
    .ui.stackable.two.columns.grid
      .column
        a.ui.fluid.image(href=`${rootPath}visionsketch/fig1-overview.jpg`)
          img(src=`${rootPath}visionsketch/fig1-overview.jpg`, alt='Overview')
        .caption #{en ? 'Overview of the VisionSketch IDE (GI \'14)' : 'VisionSketch IDEの概観'}
        .ui.hidden.divider
        a.ui.fluid.image(href=`${rootPath}visionsketch/visionsketch-overview.jpg`)
          img(src=`${rootPath}visionsketch/visionsketch-overview.jpg`, alt='Overview (original version)')
        .caption #{en ? 'Prototype of the VisionSketch IDE (PLDI \'13)' : 'PLDI \'13発表時の初版の概観'}
      .column
        a.ui.fluid.image(href=`${rootPath}visionsketch/visionsketch-example.jpg`)
          img(src=`${rootPath}visionsketch/visionsketch-example.jpg`, alt='Example use case #1: counting grinds', width='560')
        .caption #{en ? 'An example image processing pipeline' : '構築した画像処理パイプラインの例'}
  .ui.hidden.divider
  +render-project-publications('visionsketch', 'gi2014-kato-visionsketch')