extends ../_layout

block vars
  - p = projectsTable['website']
  - title = p.getTitle(lang);
  - me = p.project + '/';

block head
  link(rel='stylesheet', href=`${rootPath}stylesheets/design.css`)

block main
  +render-project-header('website')
  .ui.hidden.divider
  section#design: +design()
  .ui.hidden.divider
  .ui.stackable.two.columns.grid
    .column: section#code
      +code()
      .ui.hidden.divider
    .column: section#acknowledgement
      +acknowledgement()
      .ui.hidden.divider

mixin design
  h2.ui.header #{en ? 'Design' : 'デザイン'}
  block design
    p This website is built for usability, maintainability, and speed in mind.
    .ui.hidden.divider
    .ui.stackable.three.columns.grid
      .column
        h3.ui.header
          i.user.icon
          | Usability
        .ui.basic.segment
          p This website is built on top of the 
            a(href='https://semantic-ui.com') Semantic UI
            |  CSS framework and fully implements responsive design.
          p The color scheme is almost monotone with a slight accent of adonis blue so that the actual content gets enough attention.
      .column
        h3.ui.header
          i.configure.icon
          | Maintainability
        .ui.basic.segment
          p As detailed 
            a(href='#code') below
            | , a certain part of this website is dynamically built from a set of well-structured data source, every time the data source is updated.
          p The building pipeline makes a low-maintenance and easy-to-test website.
      .column
        h3.ui.header
          i.plane.icon
          | Speed
        .ui.basic.segment
          p The website is mostly made of static HTML/CSS files and does not require much server- nor client-side processing before rendering.
          p The only exception is a Japanese web font (
            a(href='https://www.morisawa.co.jp/fonts/specimen/1091') UD Shin Go
            | ) that could take some time to load, but is essential for the beautiful typography.

mixin code()
  h2.ui.header #{en ? 'Code and data' : 'コードとデータ'}
  .ui.basic.segment
    block code
      p This website is a collection of static HTML/CSS/JavaScript files. It is built from code and data every time something is pushed to the master branch of the <a href="https://github.com/arcatdmz/junkato.jp"><i class="github icon"></i>GitHub</a> repository. The build pipeline is executed on <a href="https://travis-ci.org/arcatdmz/junkato.jp/builds">Travis <abbr title="Continuous Integration">CI</abbr></a>.
      p During the build process, the following files are used as data source. Feel free to steal the data structure for making your own portfolio website or making HTTP requests to these data files in your application (but ... for what?)
    .ui.divided.list
      .item: .content
        a.header(href=`${rootPath}data/histories.json`) histories.json
        .description All of the &quot;Recent updates&quot; entries
      .item: .content
        a.header(href=`${rootPath}data/publications.json`) publications.json
        .description Publication history (generated from 
          a(href=`${rootPath}junkato.bib`) junkato.bib
          | )
      .item: .content
        a.header(href=`${rootPath}data/awards.json`) awards.json
        .description All of the received awards information
      .item: .content
        a.header(href=`${rootPath}data/talks.json`) talks.json
        .description All of the invited talks information
      .item: .content
        a.header(href=`${rootPath}data/projects.json`) projects.json
        .description All of the projects information as well as the project tags information
      //- .item: .content
        a.header(href=`${rootPath}data/website.json`) website.json
        .description Some meta information such as the list of recent projects and selected publications

mixin acknowledgement()
  h2.ui.header #{en ? 'Acknowledgement' : '謝辞'}
  .ui.basic.segment
    block acknowledgement
      p This website is made possible with help of various <abbr title="Open-Source Software">OSS</abbr> projects. As noted in <a href="https://github.com/arcatdmz/junkato.jp#readme">README.md</a>, it is built with the following tools, libraries, and languages. For the complete list of dependent libraries, see <a href="https://github.com/arcatdmz/junkato.jp/blob/master/package.json">package.json</a>.
    .ui.divided.list
      .item
        i.large.devicon-gulp-plain.colored.icon
        .content
          .header Gulp v3.9
          .description for managing build pipelines
      .item
        i.large.devicon-webpack-plain.colored.icon
        .content
          .header Webpack v3
          .description for packing JavaScript code
      .item
        i.large.devicon-babel-plain.colored.icon
        .content
          .header Babel v7
          .description for transpiling JS code to be compatible with outdated browsers
      .item
        i.large.ellipsis.horizontal.icon
        .content
          .header Pug v2
          .description for easier HTML coding
      .item
        i.large.devicon-less-plain-wordmark.colored.icon
        .content
          .header LESS
          .description for easier CSS coding
      .item
        i.large.devicon-typescript-plain.colored.icon
        .content
          .header TypeScript v2.9
          .description for easier JS coding

