extends ../_layout

block vars
  - p = projectsTable['sharedo']
  - title = p.getTitle(lang);
  - me = p.project + '/';

block main
  +render-project-header('sharedo')
  .ui.hidden.divider
  section#abstract
    h2.ui.header
      .content #{en ? 'Abstract' : '概要'}
    .ui.basic.segment
      block abstract
        p This paper proposes a to-do list interface for sharing tasks between human and multiple agents including robots and software personal assistants. While much work on software architectures aims to achieve efficient (semi-)autonomous task coordination among human and agents, little work on user interfaces can be found for user-oriented flexible task coordination. Instead, most of the existing human-agent interfaces are designed to command a single agent to handle specific kinds of tasks. Meanwhile, our interface is designed to be a platform to share any kinds of tasks between users and multiple agents. When agents can handle the task, they ask for details and permission to execute it. Otherwise, they try supporting users or just keep silence. New tasks can be registered not only by human but also by agents, when they suffer from errors that can only be recovered by human users.
        p We present interaction design and implementation of the interface, Sharedo, with three example agents, followed by brief user feedback collected from a preliminary user study.
        p
          | The experimental implementation is available at 
          a(href='http://www.sharedo.info') http://www.sharedo.info
          | . You can sign in with your Twitter account and share to-do lists with the shopping agent and the media content agent.
  - if (!en) {
  .ui.hidden.divider
  section#vision
    h2.ui.header 未来ビジョン
    .ui.basic.segment
      block vision
  - }
  .ui.hidden.divider
  section#presentations
    h2.ui.header #{en ? 'Presentation materials' : '発表内容'}
    .ui.basic.segment
      .ui.stackable.two.columns.grid
        .column
          h3.ui.header #{en ? 'Demo Video' : 'デモ動画'}
          +embed-youtube('//www.youtube.com/embed/HxEUgOSwTeM')
          .caption: .ui.horizontal.list
            .item
              a(href='//www.youtube.com/watch?v=HxEUgOSwTeM')
                i.youtube.icon
                | YouTube
        .column
          h3.ui.header HAI 2014 #{en ? 'Slides' : '発表スライド'}
          .ui.embed(data-url=publicationsTable[p.publication].entryTags.slides, data-placeholder=`${rootPath}images/background-eee.png`, data-icon='video play outline')
          .caption: .ui.horizontal.list
            .item
              a(href=publicationsTable[p.publication].entryTags.slides)
                i.download.icon
                | #{en ? 'Download' : 'ダウンロード'}
          - if (!en) {
          p.caption 日本語の発表スライドは
            a(href='#publications')
              i.book.icon
              | 発表文献
            | で日本語文献の 
            i.sidebar.fitted.icon
            |  をクリックすると閲覧できます。
          - }
  .ui.hidden.divider
  +render-project-publications('sharedo', 'hai2014-kato-sharedo')
