doctype html
- const url = `${protocol}://${domain}${rootPath}user-generated-variables`;
html(lang='ja')
  head
    meta(http-equiv='reresh', content=`0; URL='${url}'`)
  body
    p: a(href=url) 日本語のページはありません