extends ../_layout

block vars
  - title = en ? 'Design' : 'デザイン';
  - me = 'design/';
  - var bodyClass = 'without-header-menu design';

block head
  link(rel='stylesheet', href=`${rootPath}stylesheets/design.css`)

block header
  .ui.text.fixed.menu
    .menu#research-menu
      a.item(href=basePath)
        i.lab.icon
        - if (en) {
        | Back to research
        - } else {
        | 研究
        span.mobile.hidden に戻る
        - }
    .right.menu#design-menu
      +right-header-menu()

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup: .ui.divided.list
    a.item(href='#body')
      i.chevron.circle.up.icon
      .content #{en ? 'Top' : 'トップ'}
    a.item(href=`#portfolio`)
      i.history.icon
      .content #{en ? 'Portfolio' : 'ポートフォリオ'}
    a.item(href=`#skillset`)
      i.user.icon
      .content #{en ? 'Skillset' : 'スキルセット'}

block main-container
  .hero-unit
    h1.ui.center.aligned.icon.header
      i.circular.paint.brush.icon
      | #{title}
    .ui.container
      block message
        p While my primary focus and strength is on conducting research, I have been interested in creating concrete design artifacts&mdash;such as graphic and user interface design. This page shows my design portfolio.
  .ui.container: +main-design()
  +footer()

mixin main-design()
  section#portfolio: +portfolio()
  .ui.hidden.divider
  section#skillset: +skillset()

mixin portfolio()
  h2.ui.header #{en ? 'Portfolio' : 'ポートフォリオ'}
  - const sortedProjects = [];
  - for (const p of projects) {
  - if (!p.isDesignProject()) continue;
  - sortedProjects.push(p);
  - }
  - sortedProjects.sort(function(a, b){ return b.year.from - a.year.from; });
  - for (const p of sortedProjects) {
  +render-design-segment(p)
  - }
    // Project CRENO
    // SCI
    // digitalmuseum

mixin skillset()
  h2.ui.header #{en ? 'Skillset' : 'スキルセット'}
  block skillset
    p The following list focuses on concrete technical tools appearing in common job descriptions. High-level skills such as methods for rapid prototyping and user studies are omitted. See <a href="#{rootPath}resume.html">my resume</a> for more general information.
  .ui.hidden.divider
  .ui.stackable.two.columns.grid
    .column
      h3.ui.header #{en ? 'As a graphic designer' : 'グラフィックデザイン'}
      .ui.divided.list
        +skillset-graphic()
    .column
      h3.ui.header #{en ? 'As an interaction designer' : 'インタラクションデザイン'}
      .ui.divided.list
        +skillset-ixd()

mixin skillset-graphic()
  .item
    i.large.devicon-photoshop-plain.colored.icon
    .content
      .header Photoshop
      .description over 10 years
  .item
    i.large.devicon-illustrator-plain.colored.icon
    .content
      .header Illustrator
      .description over 10 years
  .item
    i.large.ellipsis.horizontal.icon
    .content
      .header Other Adobe products
      .description Premier for producing demo videos and InDesign for basic <abbr title="Desktop Publishing">DTP</abbr> tasks
  .item
    i.large.devicon-html5-plain.colored.icon
    .content
      .header HTML
      .description over 10 years
  .item
    i.large.ellipsis.horizontal.icon
    .content
      .header Pug (Jade)
      .description 4 years
  .item
    i.large.devicon-css3-plain.colored.icon
    .content
      .header CSS
      .description over 10 years
  .item
    i.large.devicon-less-plain-wordmark.colored.icon
    .content
      .header Stylus and LESS
      .description 3 years
  .item
    i.large.devicon-bootstrap-plain.colored.icon
    .content
      .header Bootstrap (&lt; 4)
      .description 6 years
  .item
    i.large.ellipsis.horizontal.icon
    .content
      .header Semantic UI
      .description 2 years
  .item
    i.large.devicon-grunt-line.colored.icon
    .content
      .header Grunt
      .description 4 years
  .item
    i.large.devicon-gulp-plain.colored.icon
    .content
      .header Gulp
      .description 1 month
  .item
    i.large.devicon-vim-plain.colored.icon
    .content
      .header Vim
      .description over 10 years

mixin skillset-ixd()
  .item
    i.large.devicon-javascript-plain.colored.icon
    .content
      .header JavaScript
      .description over 10 years
  .item
    i.large.devicon-typescript-plain.colored.icon
    .content
      .header TypeScript
      .description since it was called <a href="http://www.zdnet.com/article/who-built-microsoft-typescript-and-why/">&quot;Strada&quot;</a>
  .item
    i.large.devicon-jquery-plain.colored.icon
    .content
      .header jQuery
      .description 6 years
  .item
    i.large.devicon-d3js-plain.colored.icon
    .content
      .header D3.js
      .description 2 months
  .item
    i.large.devicon-webpack-plain.colored.icon
    .content
      .header Webpack
      .description 1 month
  .item
    i.large.devicon-babel-plain.colored.icon
    .content
      .header Babel
      .description 1 month
  .item
    i.large.devicon-nodejs-plain.colored.icon
    .content
      .header Node.js
      .description 4 years
  .item
    i.large.devicon-php-plain.colored.icon
    .content
      .header PHP (&lt; 7)
      .description over 10 years
  .item
    i.large.devicon-wordpress-plain.colored.icon
    .content
      .header WordPress
      .description over 10 years
  .item
    i.large.devicon-csharp-plain.colored.icon
    .content
      .header C#
      .description for desktop apps and ASP.NET apps
  .item
    i.large.devicon-java-plain.colored.icon
    .content
      .header Java (&lt; 8)
      .description 9 years, for robot and desktop apps, browser applets, and 
  .item
    i.large.devicon-java-plain.colored.icon
    .content
      .header Processing
      .description 9 years, mostly for robot apps using <a href="#{rootPath}phybots">Phybots</a> and <a href="#{rootPath}picode">Picode</a>.
  .item
    i.large.devicon-visualstudio-plain.colored.icon
    .content
      .header Visual Studio, Visual Studio Code
      .description 9 years and since it was born, respectively
  .item
    i.large.devicon-mysql-plain.colored.icon
    .content
      .header MySQL
      .description 9 years
  .item
    i.large.ellipsis.horizontal.icon
    .content
      .header Eclipse
      .description 9 years
  .item
    i.large.devicon-github-plain.colored.icon
    .content
      .header GitHub
      .description see <a href="https://github.com/arcatdmz">my repos</a>

mixin render-design-segment(p)
  - const link = p.getLink(lang, basePath);
  .ui.basic.segment(id=p.project)
    - if (link === false) {
    img.ui.small.left.floated.image(src=`/images/icons/${p.icon}`)
    - } else {
    a.ui.small.left.floated.image(href=link): img(src=`/images/icons/${p.icon}`)
    - }
    h3.ui.header !{p.getDesignTitle(lang)}
    p !{p.getDesignDescription(lang)}
    - if (p.images) {
    .ui.tiny.images
      - for (const image of p.images) {
      img.ui.image(src=image)
      - }
    - }
    .ui.horizontal.list
      .item: .ui.basic.label
        i.calendar.icon
        | #{p.getYearString(lang)}
      - const tags = p.getDesignTags(lang);
      - if (tags.length > 0) {
      - for (const tag of tags) {
      .item !{tag}
      - }
      - }
    .ui.clearing.divider
