extends ../_layout

block vars
  - var title = en ? 'Design' : 'デザイン';
  - var me = 'design/';
  - var bodyClass = 'without-header-menu design';

block head
  link(rel='stylesheet', href='/stylesheets/design.css')

block header
  .ui.text.fixed.menu
    .menu#research-menu
      a.item(href=basePath)
        i.lab.icon
        - if (en) {
        | Back to research
        - } else {
        | 研究
        span.mobile.hidden に戻る
        - }
    .right.menu#design-menu
      +right-header-menu()

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup: .ui.divided.list
    a.item(href='#body')
      i.chevron.circle.up.icon
      .content #{en ? 'Top' : 'トップ'}
    a.item(href=`#portfolio`)
      i.history.icon
      .content #{en ? 'Portfolio' : 'ポートフォリオ'}
    a.item(href=`#skillset`)
      i.user.icon
      .content #{en ? 'Skillset' : 'スキルセット'}

block main-container
  .hero-unit
    h1.ui.center.aligned.icon.header
      i.circular.paint.brush.icon
      | #{title}
    .ui.container
      block message
        p While my primary focus and strength is on conducting research, I have been interested in creating concrete design artifacts&mdash;such as graphic and user interface design. This page shows my design portfolio.
  .ui.container: +main-design()
  +footer()

mixin main-design()
  section#portfolio: +portfolio()
  .ui.hidden.divider
  section#skillset: +skillset()

mixin portfolio()
  h2.ui.header #{en ? 'Portfolio' : 'ポートフォリオ'}
  .ui.basic.segment#junkato
    a.ui.small.left.floated.image(href=`${basePath}website`): img(src='/images/icons/website.png')
    h3.ui.header junkato.jp web design
    p Created a website with the focus on usability and maintainability. Built an automated pipeline that compiles various data sources into a set of static HTML/CSS/JavaScript files. The website is built on the Semantic UI CSS/JavaScript framework and implements a dedicated responsive view. More technical details can be found <a href="/website">here</a>.
    .ui.horizontal.list
      .item: .ui.basic.label
        i.calendar.icon
        | 2018
      .item: .ui.basic.label
        i.paint.brush.icon
        | Graphic
      .item: .ui.basic.label
        i.wizard.icon
        | User Interface
    .ui.clearing.divider
  .ui.basic.segment#songle-sync
    a.ui.small.left.floated.image(href=`${basePath}songle-sync`): img(src='/images/icons/songle-sync.png')
    h3.ui.header Songle Sync brand design
    p Created a variation of Songle Sync and Songle API logos from the existing Songle logo. Demonstrated its use on <a href="/songle-sync">the Songle Sync tutorial website</a> and <a href="https://github.com/SongleJp">GitHub repositories</a>. The tutorial site is built on the Semantic UI CSS/JavaScript framework.
    .ui.horizontal.list
      .item: .ui.basic.label
        i.calendar.icon
        | 2017
      .item: .ui.basic.label
        i.paint.brush.icon
        | Graphic
      .item: .ui.basic.label
        i.wizard.icon
        | User Interface
    .ui.clearing.divider
  .ui.basic.segment#tenju
    a.ui.small.left.floated.image(href='http://tenju.jp'): img(src='/images/icons/tenju.jpg')
    h3.ui.header Tenju Works web design
    p Helped renovation of <a href="http://tenju.jp">the Tenju Works website</a>. Customized multiple WordPress plugins to behave accordingly.
    .ui.horizontal.list
      .item: .ui.basic.label
        i.calendar.icon
        | 2017
      .item: .ui.basic.label
        i.paint.brush.icon
        | Graphic
    .ui.clearing.divider
  .ui.basic.segment#ongacrest
    .ui.small.left.floated.image: img(src='/images/icons/ongacrest.jpg')
    h3.ui.header OngaCREST service flyer and poster design
    p Designed flyers and posters of the four web services developed by <a href="https://ongacrest.jp/en/">the OngaCREST project</a>: 
      a(href='http://songle.jp') Songle
      | , 
      a(href='http://songrium.jp') Songrium
      | , 
      a(href='http://textalive.jp') TextAlive
      | , and 
      a(href='http://songmash.jp') Songmash
      | . The flyer was distributed at an international convention (<a href="https://no-maps.jp/en/about">No Maps 2016</a>) and other events and can be viewed as <a href="/design/nomaps2016-ongacrest-flyers.pdf">a PDF file</a>.
    .ui.horizontal.list
      .item: .ui.basic.label
        i.calendar.icon
        | 2016
      .item: .ui.basic.label
        i.paint.brush.icon
        | Graphic
    .ui.clearing.divider
  .ui.basic.segment#f3js
    a.ui.small.left.floated.image(href=`${basePath}f3js`): img(src='/images/icons/f3js.png')
    h3.ui.header f3.js brand design
    p Built a brand kit for <a href="/f3js">the f3.js research project</a>. Built its main website with Node.js and MySQL and the documentation website with WordPress. Used the Semantic UI CSS/JavaScript framework.
    .ui.horizontal.list
      .item: .ui.basic.label
        i.calendar.icon
        | 2016
      .item: .ui.basic.label
        i.paint.brush.icon
        | Graphic
      .item: .ui.basic.label
        i.wizard.icon
        | User Interface
    .ui.clearing.divider
  .ui.basic.segment#textalive
    a.ui.small.left.floated.image(href=`${basePath}textalive`): img(src='/images/icons/textalive.jpg')
    h3.ui.header TextAlive brand design
    p Built a brand kit for <a href="/textalive"> the TextAlive research project</a>. Built its main website with Node.js and MySQL and the documentation website with WordPress. Used the Bootstrap CSS framework.
    .ui.horizontal.list
      .item: .ui.basic.label
        i.calendar.icon
        | 2014
      .item: .ui.basic.label
        i.paint.brush.icon
        | Graphic
      .item: .ui.basic.label
        i.wizard.icon
        | User Interface
    .ui.clearing.divider
  .ui.basic.segment#cd-jackets
    .ui.small.left.floated.image: img(src='/design/cd-jackets/conception-a.jpg')
    h3.ui.header <abbr title="Compact Disc">CD</abbr> jacket design
    p Designed multiple <abbr title="Compact Disc">CD</abbr> jackets. The following jackets are A/B sides of &quot;Project CRENO Conception&quot;, &quot;SUMMER.EXE&quot;, and &quot;gamma&quot;, respectively.
    .ui.tiny.images
      img.ui.image(src='/design/cd-jackets/conception-a.jpg')
      img.ui.image(src='/design/cd-jackets/conception-b.jpg')
      img.ui.image(src='/design/cd-jackets/summer.exe-a.jpg')
      img.ui.image(src='/design/cd-jackets/summer.exe-b.jpg')
      img.ui.image(src='/design/cd-jackets/gamma-a.jpg')
      img.ui.image(src='/design/cd-jackets/gamma-b.jpg')
    .ui.horizontal.list
      .item: .ui.basic.label
        i.calendar.icon
        | 2007-2008
      .item: .ui.basic.label
        i.paint.brush.icon
        | Graphic
    .ui.clearing.hidden.divider
    // Project CRENO
    // SCI
    // digitalmuseum

mixin skillset()
  h2.ui.header #{en ? 'Skillset' : 'スキルセット'}
  block skillset
    p The following list focuses on concrete technical tools appearing in common job descriptions. High-level skills such as methods for rapid prototyping and user studies are omitted. See <a href="/resume.html">my resume</a> for more general information.
  .ui.hidden.divider
  .ui.stackable.two.columns.grid
    .column
      h3.ui.header #{en ? 'As a graphic designer' : 'グラフィックデザイン'}
      .ui.divided.list
        +skillset-graphic()
    .column
      h3.ui.header #{en ? 'As an interaction designer' : 'インタラクションデザイン'}
      .ui.divided.list
        +skillset-ixd()

mixin skillset-graphic
  .item
    i.large.devicon-photoshop-plain.colored.icon
    .content
      .header Photoshop
      .description over 10 years
  .item
    i.large.devicon-illustrator-plain.colored.icon
    .content
      .header Illustrator
      .description over 10 years
  .item
    i.large.ellipsis.horizontal.icon
    .content
      .header Other Adobe products
      .description Premier for producing demo videos and InDesign for basic <abbr title="Desktop Publishing">DTP</abbr> tasks
  .item
    i.large.devicon-html5-plain.colored.icon
    .content
      .header HTML
      .description over 10 years
  .item
    i.large.ellipsis.horizontal.icon
    .content
      .header Pug (Jade)
      .description 4 years
  .item
    i.large.devicon-css3-plain.colored.icon
    .content
      .header CSS
      .description over 10 years
  .item
    i.large.devicon-less-plain-wordmark.colored.icon
    .content
      .header Stylus and LESS
      .description 3 years
  .item
    i.large.devicon-bootstrap-plain.colored.icon
    .content
      .header Bootstrap (&lt; 4)
      .description 6 years
  .item
    i.large.ellipsis.horizontal.icon
    .content
      .header Semantic UI
      .description 2 years
  .item
    i.large.devicon-grunt-line.colored.icon
    .content
      .header Grunt
      .description 4 years
  .item
    i.large.devicon-gulp-plain.colored.icon
    .content
      .header Gulp
      .description 1 month
  .item
    i.large.devicon-vim-plain.colored.icon
    .content
      .header Vim
      .description over 10 years

mixin skillset-ixd()
  .item
    i.large.devicon-javascript-plain.colored.icon
    .content
      .header JavaScript
      .description over 10 years
  .item
    i.large.devicon-typescript-plain.colored.icon
    .content
      .header TypeScript
      .description since it was called <a href="http://www.zdnet.com/article/who-built-microsoft-typescript-and-why/">&quot;Strada&quot;</a>
  .item
    i.large.devicon-jquery-plain.colored.icon
    .content
      .header jQuery
      .description 6 years
  .item
    i.large.devicon-d3js-plain.colored.icon
    .content
      .header D3.js
      .description 2 months
  .item
    i.large.devicon-webpack-plain.colored.icon
    .content
      .header Webpack
      .description 1 month
  .item
    i.large.devicon-babel-plain.colored.icon
    .content
      .header Babel
      .description 1 month
  .item
    i.large.devicon-nodejs-plain.colored.icon
    .content
      .header Node.js
      .description 4 years
  .item
    i.large.devicon-php-plain.colored.icon
    .content
      .header PHP (&lt; 7)
      .description over 10 years
  .item
    i.large.devicon-wordpress-plain.colored.icon
    .content
      .header WordPress
      .description over 10 years
  .item
    i.large.devicon-csharp-plain.colored.icon
    .content
      .header C#
      .description for desktop apps and ASP.NET apps
  .item
    i.large.devicon-java-plain.colored.icon
    .content
      .header Java (&lt; 8)
      .description 9 years, for robot and desktop apps, browser applets, and 
  .item
    i.large.devicon-java-plain.colored.icon
    .content
      .header Processing
      .description 9 years, mostly for robot apps using <a href="/phybots">Phybots</a> and <a href="/picode">Picode</a>.
  .item
    i.large.devicon-visualstudio-plain.colored.icon
    .content
      .header Visual Studio, Visual Studio Code
      .description 9 years and since it was born, respectively
  .item
    i.large.devicon-mysql-plain.colored.icon
    .content
      .header MySQL
      .description 9 years
  .item
    i.large.ellipsis.horizontal.icon
    .content
      .header Eclipse
      .description 9 years
  .item
    i.large.devicon-github-plain.colored.icon
    .content
      .header GitHub
      .description see <a href="https://github.com/arcatdmz">my repos</a>
