extends ../_layout

block vars
  - p = projectsTable['creativity-support-environments'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup: .ui.divided.list
    a.item(href='#body')
      i.chevron.circle.up.icon
      .content #{en ? 'Top' : 'トップ'}
    a.item(href='#sigccc')
      i.right.triangle.icon
      .content SIGCCC

block main
  +render-project-header('creativity-support-environments')
  .ui.hidden.divider
  section#abstract
    h2.ui.header: .content #{en ? 'Abstract' : '概要'}
    .ui.basic.segment !{p.getDescription(lang)}
      p: img.ui.image(src=`${basePath}creativity-support-environments/creativity-support-environments.png`)
  //- .ui.hidden.divider
  //- section 
  .ui.divider
  section#sigccc: +sigccc()
  .ui.hidden.divider
  +render-project-publications(p.project, 'chi2023-kato-sigccc')
  .ui.divider
  section#revision: +revision()

mixin sigccc()
  h2.ui.header Special Interest Group on Creativity and Cultures in Computing (SIGCCC)
  .ui.basic.segment
    block sigccc-content
      p We are holding a Special Interest Group meeting at ACM CHI 2023! Please drop by 
        a(href='https://programs.sigchi.org/chi/2023/program/session/99391') Room Y09 at 16:35 on Monday.
      +sigccc-abstract()

mixin sigccc-abstract()
  .ui.message
    p Research on creativity support tools (CSTs) has a long history in Human-Computer Interaction (HCI); however, researchers often focus on developing novel CSTs and verifying them in a controlled lab setting, rather than on capturing the creative process in the wild.
    p In reality, creative activity is exploratory, laborious, and involves multiple CSTs; which together form a creativity support environment or ecology. Creative activity is also social, cultural, and collaborative with people distributing, modifying, and reacting to the creations of others. This process can inspire subsequent iterations. To understand and support open-ended, culturally embedded, collaborative creativity, HCI researchers are seeking new methods to study the sociocultural aspects of creativity support.
    p This Special Interest Group on Creativity and Cultures in Computing (SIGCCC) invites diverse researchers to provide a forum for CST discussions from a wide sociocultural lens. The participants will identify and discuss the state-of-the-art and conceptualize future directions for creativity support research.

mixin revision()
  h2.ui.header
    i.announcement.icon
    | #{en ? 'Revision history' : '更新履歴'}
  .ui.basic.segment: .ui.divided.feed
    block news
      .event: .content
        .date 3/31/2023
        .summary Upload the initial revision.
