mixin head()
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(property='fb:admins', content='503220390')
  block meta
    meta(name='author', content=author)
    title #{title} | junkato.jp
  link(rev='made', href='mailto:i@junkato.jp')
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Droid+Sans')
  link(rel='stylesheet', href='/semantic/semantic.min.css')
  link(rel='stylesheet', href='/stylesheets/main.css')

mixin header(id)
  .ui.top.fixed.stackable.menu(id=id)
    a.active.item(href=en ? '/' : '/ja') #{author}
    - if (en) {
    a.item(href='/#about')
      i.user.circle.icon
      | About
    a.item(href='/#projects')
      i.lab.icon
      | Projects
    a.item(href='/publications')
      i.text.file.icon
      | Awards &amp; Publications
    a.item(href='/#contact')
      i.address.card.icon
      | Contact
    - } else {
    a.item(href='/ja/#about')
      i.user.circle.icon
      | 自己紹介
    a.item(href='/ja/#projects')
      i.lab.icon
      | プロジェクト
    a.item(href='/ja/publications')
      i.text.file.icon
      | 受賞歴と発表文献
    a.item(href='/ja/#contact')
      i.address.card.icon
      | 連絡先
    - }
    .right.menu
      - if (en) {
      a.item(href='/ja')
        i.translate.icon
        | 日本語
      - } else {
      a.item(href='/ja/blog')
        i.wordpress.icon
        | ブログ
      a.item(href='/')
        i.translate.icon
        | English
      - }

mixin footer()
  .ui.divider
  footer.ui.center.aligned.container &copy; Jun Kato 2017
  script(type='text/javascript', href='/semantic/semantic.min.js')

html(lang='ja')
  block lang
    - var en = true;
  - var author = en ? 'Jun Kato' : '加藤 淳';
  block vars
  head
    +head()
  body
    block header
      +header()
    block main-container
      .ui.container#main
        block main
    +footer()
    block scripts
