- const recentProjects = ['songle-sync', 'f3js', 'textalive'];

mixin head()
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(property='fb:admins', content='503220390')
  block meta
    meta(name='author', content=author)
    title #{title} | junkato.jp
  link(rev='made', href='mailto:i@junkato.jp')
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Fira+Sans')
  - if (!en) {
  link(rel='stylesheet', href='//fonts.googleapis.com/earlyaccess/notosansjapanese.css')
  - }
  link(rel='stylesheet', href='/stylesheets/main.css')

mixin header(id)
  .ui.top.fixed.menu(id=id)
    a.active.item(href=basePath) #{author}
    block projects-menu
      .ui.dropdown.item(href=`${basePath}#projects`)
        i.lab.icon
        span.mobile.hidden #{en ? 'Projects' : 'プロジェクト'}
        i.dropdown.icon
        .menu
          a.item(href=`${basePath}#projects`) #{en ? 'List of projects' : 'プロジェクト一覧'}
          .ui.divider
          - for (const p of projects) {
          - if (recentProjects.indexOf(p.project) < 0) continue;
          //- - if (p.category === 'private') continue;
          //- - if ((p.year.to || p.year.from) < 2012) continue;
          a.item(href=basePath + p.project) #{p.getTitle(lang)}
          - }
          .ui.divider
          a.item(href=`${basePath}#previous-projects`) #{en ? 'Previous projects' : '以前のプロジェクト'}
          a.item(href=`${basePath}#private-projects`) #{en ? 'Private projects' : '趣味プロジェクト'}
    - if (en) {
    a.item(href='/#contact')
      i.address.card.icon
      span.mobile.hidden Contact
    a.item(href='/publications')
      i.text.file.icon
      span.mobile.hidden Publications
    a.item(href='/ja/activities')
      i.student.icon
      span.mobile.hidden Activities
    - } else {
    a.item(href='/ja/#contact')
      i.address.card.icon
      span.mobile.hidden 連絡先
    a.item(href='/ja/publications')
      i.text.file.icon
      span.mobile.hidden 発表文献
    a.item(href='/ja/activities')
      i.student.icon
      span.mobile.hidden 職務活動
    a.item(href='/ja/blog')
      i.wordpress.icon
      span.mobile.hidden ブログ
    - }
    - if (en) {
    a.right.item(href=`/ja/${me}`)
      i.translate.icon
      span.mobile.hidden 日本語
    - } else {
    a.right.item(href=`/${me}`)
      i.translate.icon
      span.mobile.hidden English
    - }

mixin footer()
  footer.ui.center.aligned.basic.segment
    .ui.container
      .ui.divider
      p &copy; 
        a(href=`${basePath}#contact`) Jun Kato
        |  2018

mixin render-publication(entry)
  - if (!entry.entryTags) return;
  .item.publication(class=entry.entryType, id=entry.citationKey)
    .right.floated.content
      //a.ui.circular.icon.tiny.button(href='')
        i.film.icon
      - if (entry.entryTags.pdf || entry.entryTags.doi || entry.entryTags.url) {
      a.ui.circular.icon.tiny.button(href=entry.entryTags.pdf || entry.entryTags.doi || entry.entryTags.url)
        i.file.icon
      - }
      a.ui.circular.icon.tiny.bibtex.button(data-clipboard-text=entry.getBibTeX())
        i.book.icon
    i.icon(class=entry.getIcon())
    .content
      .header #{entry.entryTags.title}
      .description
        .ui.list
          .item
            i.right.triangle.icon
            .content 
              span.ui.tiny.label
                i.calendar.icon
                | #{entry.entryTags.year}
              - if (entry.entryTags.series) {
              span.ui.tiny.green.label
                i.student.icon
                | #{entry.entryTags.series}
              - }
              - if (entry.entryTags.addition) {
              span.ui.tiny.orange.label
                i.trophy.icon
                | #{entry.entryTags.addition}
              - }
          .item.authors
            i.users.icon
            .content !{entry.getAuthorsTags().join(', ')}
          .item.book
            i.book.icon
            .content #{entry.getBookWithPages()}

mixin render-project-card(p)
  .card(id=`projects-${p.project}`, data-project=p.project)
    a.image(href=basePath + p.project): img(src=`/thumbnails/${p.thumbnail}`)
    .content
      a.header(href=basePath + p.project) #{p.getTitle(lang)}
      .meta !{p.getTags(lang).join('')}
      .description !{p.getDescription(lang)}
    .extra.content
      span.right.floated
        i.calendar.icon
        | #{p.getYearString(lang)}
      - if (p.category !== 'private') {
      - if (p.publication) {
      span
        i.student.icon
        | !{p.getPublication(lang)}
      - } else {
      span !{p.getPublication(lang)}
      - }
      - }

mixin render-project-item(p)
  .item(id=`projects-${p.project}`, data-project=p.project)
    a.mobile.hidden.image(href=basePath + p.project): img(src=`/thumbnails/${p.thumbnail}`)
    .content
      a.header(href=basePath + p.project)
        img.ui.avatar.image.mobile.only(src=`/thumbnails/${p.thumbnail}`)
        | #{p.getTitle(lang)}
      .description !{p.getDescription(lang)}
      .extra
        span.right.floated
          i.calendar.icon
          | #{p.getYearString(lang)}
        - if (p.category !== 'private') {
        - if (p.publication) {
        span.ui.green.tiny.basic.label
          i.student.icon
          | !{p.getPublication(lang)}
        - } else {
        span !{p.getPublication(lang)}
        - }
        - }
        - if (p.category === 'collaboration') {
        span.ui.tiny.basic.label
          i.handshake.icon
          | #{en ? 'Co-authored' : '共著'}
        - }
        span.meta !{p.getTags(lang).join(' ')}

html(lang='ja')
  block lang
    - var en = true, lang = 'en', basePath = '/';
  - var author = en ? 'Jun Kato' : '加藤 淳';
  block vars
    - var me = '';
    - var containerClass = undefined;
  head
    +head()
  body
    block header
      +header()
    #body
      block main-container
        .ui.container#main(class=containerClass)
          block main
      +footer()
    block post-footer
    script(src='https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
    script(type='text/javascript') var en=#{en},lang="#{lang}",basePath="#{basePath}";
    block scripts
      script(type='text/javascript', src='/javascripts/views/default.js')
