include ./_layout-library
include ./_layout-components

doctype html
block lang
  - var lang = 'en';
html(lang=lang)
  - moment.locale(lang);
  - var en = lang === 'en';
  - var basePath = en ? rootPath : `${rootPath}ja/`;
  - var author = en ? 'Jun Kato' : '加藤 淳';
  - var me, p, title, description, imageUrl, bodyClass = undefined;
  block vars
    - me = '';
  head
    +head()
    script(async, src='https://www.googletagmanager.com/gtag/js?id=G-W5KXWN8CJD')
    script.
      window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','G-W5KXWN8CJD');
  body(class=bodyClass)
    .ui.right.sidebar.inverted.vertical.menu
      +sidebar()
    block header
      +header()
    #pusher.pusher
      #body
        block main-container
          block main-hero-unit
          .ui.container#main
            block main
          +footer()
    #post-footer
      block post-footer
    script(src='https://cdn.jsdelivr.net/npm/es6-promise/dist/es6-promise.auto.min.js')
    //- script(src='//webfonts.sakura.ne.jp/js/sakura.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
    script(type='text/javascript') var en=#{en},lang="#{lang}",basePath="#{basePath}";
    script(type='text/javascript').
      (function(d){var config={kitId:"tor0txx",scriptTimeout:3000,async:true},h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)})(document);
    //- script(type='text/javascript').
      var webFontConfig={google:{families:en?["Fira Sans"]:["Fira Sans","Noto Sans JP"]}};
      WebFont.load(webFontConfig);
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
    block scripts
      script(type='text/javascript', src=`${rootPath}javascripts/views/default.js`)
    block post-scripts
