include ./_layout-library
include ./_layout-components

doctype html
block lang
  - var lang = 'en';
html(lang=lang)
  - var en = lang === 'en';
  - var basePath = en ? rootPath : `${rootPath}ja/`;
  - var author = en ? 'Jun Kato' : '加藤 淳';
  - var me, p, title, description, imageUrl, bodyClass = undefined;
  block vars
    - me = '';
  head
    +head()
  body(class=bodyClass)
    .ui.right.sidebar.inverted.vertical.menu
      +sidebar()
    block header
      +header()
    #pusher.pusher
      #body
        block main-container
          .ui.container#main
            block main
          +footer()
    #post-footer
      block post-footer
    script(src='https://cdn.jsdelivr.net/npm/es6-promise/dist/es6-promise.auto.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
    script(type='text/javascript') var en=#{en},lang="#{lang}",basePath="#{basePath}";
    script(type='text/javascript').
      var webFontConfig=en?{google:{families:["Fira Sans"]}}:{google:{families:["Fira Sans"]},custom:{families:["Noto Sans Japanese"],urls:["//fonts.googleapis.com/earlyaccess/notosansjapanese.css"]}};
      WebFont.load(webFontConfig);
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
    block scripts
      script(type='text/javascript', src=`${rootPath}javascripts/views/default.js`)
    block post-scripts
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-2538649-20', 'auto');
      ga('send', 'pageview');
