
mixin head()
  - if (!description) {
  - if (p) {
  - description = p.getDescription(lang);
  - } else {
  - description = en ? defaultDescription : defaultJapaneseDescription;
  - }
  - }
  - description = description.replace(/(<([^>]+)>)/ig,"");
  - if (!imageUrl) {
  - if (p) {
  - imageUrl = `${protocol}://${domain}${rootPath}images/thumbnails/${p.thumbnail}`;
  - } else {
  - imageUrl = defaultImageUrl;
  - }
  - }
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title !{stripTags(title)} | junkato.jp
  meta(name='author', content=author)
  meta(name='description', content=description)
  // for SEO
  meta(itemprop='name', content=stripTags(title))
  meta(itemprop='description', content=description)
  - if (imageUrl) {
  meta(itemprop='image', content=imageUrl)
  - }
  // for Facebook
  meta(property='fb:admins', content='503220390')
  meta(property='og:url', content=`${protocol}://${domain}${basePath}${me}`)
  meta(property='og:type', content='website')
  meta(property='og:title', content=title)
  meta(property='og:description', content=description)
  - if (imageUrl) {
  meta(property='og:image', content=imageUrl)
  - }
  // for Twitter
  - if (imageUrl) {
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content=imageUrl)
  - }
  meta(name='twitter:title', content=title)
  meta(name='twitter:description', content=description)
  link(rev='made', href='mailto:i@junkato.jp')
  link(rel='stylesheet', href=`${rootPath}stylesheets/main.css`)
  block head

mixin sidebar()
  a.item(href=`${basePath}`, class=getItemClass(''))
    img.ui.avatar.image(src=`${rootPath}images/junkato.jpg`)
    | #{en ? 'Top page' : 'トップ'}
  a.item(href=`${basePath}#contact`)
    i.address.card.icon
    | #{en ? 'Contact' : '連絡先'}
  block projects-sidebar-menu
    .ui.item(href=`${basePath}projects`)
      i.lab.icon
      | #{en ? 'Projects' : 'プロジェクト'}
      .menu
        a.item(href=`${basePath}projects`) #{en ? 'List of projects' : 'プロジェクト一覧'}
        .ui.divider
        - for (const p of products) {
        a.item(href=p.getLink(lang, basePath))
          - if (p.icon) {
          img.ui.avatar.image(src=`${rootPath}images/icons/${p.icon}`)
          - }
          | !{p.getTitle(lang)}
        - }
        .ui.divider
        a.item(href=`${basePath}projects/#research`) #{en ? 'Research projects' : '研究プロジェクト'}
        a.item(href=`${basePath}projects/#private`) #{en ? 'Private projects' : 'その他のプロジェクト'}
  a.item(href=`${basePath}publications`, class=getItemClass('publications/'))
    i.text.file.icon
    | #{en ? 'Publications' : '発表文献'}
  a.item(href=`${basePath}design`, class=getItemClass('design/'))
    i.paint.brush.icon
    | #{en ? 'Design' : 'デザイン'}
  a.item(href=`${basePath}activities`, class=getItemClass('activities/'))
    i.student.icon
    | #{en ? 'Activities' : '職務活動'}
  a.item(href=`${basePath}timeline`, class=getItemClass('timeline/'))
    i.history.icon
    | #{en ? 'Timeline' : '活動履歴'}
  a.item(href=`${basePath}collaborations`, class=getItemClass('collaborations/'))
    i.handshake.icon
    | #{en ? 'Collaborations' : '共同研究'}
  - if (en) {
  a.item(href=`${rootPath}ja/${me}`)
    i.translate.icon
    | 日本語
  - } else {
  a.item(href=`${rootPath}ja/blog`)
    i.wordpress.icon
    | ブログ
  a.item(href=`${rootPath}${me}`)
    i.translate.icon
    | English
  - }

mixin header()
  .ui.top.fixed.menu#fixed-menu
    a.item(href=basePath, class=getItemClass(''))
      span.mobile.hidden #{author}
      span.print-hidden.mobile.only: i.user.icon
    a.mobile.hidden.item(href=`${basePath}#contact`)
      i.address.card.icon
      span.print-hidden.tablet.or.lower.hidden #{en ? 'Contact' : '連絡先'}
    block projects-header-menu
      .ui.dropdown.mobile.hidden.item(href=`${basePath}projects`)
        i.lab.icon
        span.print-hidden.tablet.or.lower.hidden #{en ? 'Projects' : 'プロジェクト'}
        .menu
          a.item(href=`${basePath}projects`) #{en ? 'List of projects' : 'プロジェクト一覧'}
          .ui.divider
          - for (const p of projects) {
          - if (products.indexOf(p) < 0) continue;
          //- if (p.category === 'concept' || p.category === 'committee' || p.category === 'private') continue;
          //- if ((p.year.to || p.year.from) < 2012) continue;
          a.item(href=p.getLink(lang, basePath))
            - if (p.icon) {
            img.ui.avatar.image(src=`${rootPath}images/icons/${p.icon}`)
            - }
            | !{p.getTitle(lang)}
          - }
          .ui.divider
          a.item(href=`${basePath}projects/#research`) #{en ? 'Research projects' : '研究プロジェクト'}
          a.item(href=`${basePath}projects/#private`) #{en ? 'Private projects' : 'その他のプロジェクト'}
    a.mobile.hidden.item(href=`${basePath}publications`, class=getItemClass('publications/'))
      i.text.file.icon
      span.print-hidden.tablet.or.lower.hidden #{en ? 'Publications' : '発表文献'}
    a.mobile.hidden.item(href=`${basePath}design`, class=getItemClass('design/'))
      i.paint.brush.icon
      span.print-hidden(class = en ? 'tablet or lower hidden' : 'computer or lower hidden') #{en ? 'Design' : 'デザイン'}
    a.mobile.hidden.item(href=`${basePath}activities`, class=getItemClass('activities/'))
      i.student.icon
      span.print-hidden(class = en ? 'tablet or lower hidden' : 'computer or lower hidden') #{en ? 'Activities' : '職務活動'}
    a.mobile.hidden.item(href=`${basePath}timeline`, class=getItemClass('timeline/'))
      i.history.icon
      span.print-hidden.computer.or.lower.hidden #{en ? 'Timeline' : '活動履歴'}
    a.mobile.hidden.item(href=`${basePath}collaborations`, class=getItemClass('collaborations/'))
      i.handshake.icon
      span.print-hidden.computer.or.lower.hidden #{en ? 'Collaborations' : '共同研究'}
    .right.menu
      +right-header-menu()

mixin right-header-menu()
  - if (en) {
  a.item(href=`${rootPath}ja/${me}`)
    i.translate.icon
    span.print-hidden 日本語
  - } else {
  a.item(href=`${rootPath}ja/blog`)
    i.wordpress.icon
    span.print-hidden.tablet.or.lower.hidden ブログ
  a.item(href=`${rootPath}${me}`)
    i.translate.icon
    span.print-hidden English
  - }
  a.item.print-hidden.sidebar-button(href='#')
    i.sidebar.icon
    span.widescreen.monitor.only #{en ? 'Menu' : 'メニュー'}

mixin footer()
  footer.ui.center.aligned.basic.segment
    .ui.container
      .ui.divider
      .ui.horizontal.divided.list
        .item
          | &copy; 
          a(href=`${basePath}#contact`) #{en ? 'Jun Kato' : '加藤 淳'}
        .item 2012-#{new Date().getFullYear()}
        .item
          a(href=`${basePath}privacy`)
            i.envelope.open.outline.icon
            |  #{en ? 'Privacy Policy' : 'プライバシーポリシー'}
        .item
          - if (en) {
          a.item(href=`${rootPath}ja/${me}`)
            i.translate.icon
            |  日本語
          - } else {
          a.item(href=`${rootPath}${me}`)
            i.translate.icon
            | English
          - }
