include ./_layout-library
include ./_layout-components

doctype html
html(lang='ja')
  block lang
    - var lang = 'en';
  - var en = lang === 'en';
  - var basePath = en ? rootPath : `${rootPath}ja/`;
  - var author = en ? 'Jun Kato' : '加藤 淳';
  - var me, p, title, description, imageUrl, bodyClass = undefined;
  block vars
    - me = '';
  head
    +head()
  body(class=bodyClass)
    .ui.right.sidebar.inverted.vertical.menu
      +sidebar()
    block header
      +header()
    #pusher.pusher
      #body
        block main-container
          .ui.container#main
            block main
          +footer()
    #post-footer
      block post-footer
    script(src='https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
    script(type='text/javascript') var en=#{en},lang="#{lang}",basePath="#{basePath}";
    block scripts
      script(type='text/javascript', src=`${rootPath}javascripts/views/default.js`)
    block post-scripts
