mixin head(title='加藤 淳のポートフォリオ')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(property='fb:admins', content='503220390')
  block meta
    meta(name='author', content=author)
    title #{title} | junkato.jp
  link(rev='made', href='mailto:i@junkato.jp')
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Droid+Sans')
  link(rel='stylesheet', href='/semantic/semantic.min.css')
  link(rel='stylesheet', href='/stylesheets/main.css')

mixin header(id)
  .ui.top.fixed.menu(id=id)
    a.active.item(href=en ? '/' : '/ja') #{author}
    - if (en) {
    a.item(href='/#about') About
    a.item(href='/#projects') Projects
    a.item(href='/publications') Awards &amp; Publications
    a.item(href='/#contact') Contact
    - } else {
    a.item(href='/ja/#about') 自己紹介
    a.item(href='/ja/#projects') プロジェクト
    a.item(href='/ja/publications') 受賞歴と発表文献
    a.item(href='/ja/#contact') 連絡先
    - }
    .right.menu
      - if (en) {
      a.item(href='/ja') 日本語
      - } else {
      a.item(href='/ja/blog') #{blog}
      a.item(href='/') English
      - }

mixin footer()
  .ui.divider
  footer.ui.center.aligned.container &copy; Jun Kato 2017
  script(type='text/javascript', href='/semantic/semantic.min.js')

html(lang='ja')
  block lang
    - var en = true;
  - var author = en ? 'Jun Kato' : '加藤 淳';
  block vars
  head
    +head(title)
  body
    block header
      +header()
    block main-container
      .ui.container#main
        block main
    +footer()
