extends _layout

block vars
  - var title = en ? 'Portfolio of Jun Kato' : '加藤 淳のポートフォリオ';
  - me = '';

block projects-sidebar-menu
  a.item(href=`${basePath}#projects`)
    i.lab.icon
    | #{en ? 'Projects' : 'プロジェクト'}

block projects-header-menu
  a.ui.print-hidden.mobile.hidden.item(href=`${basePath}#projects`)
    i.lab.icon
    span.tablet.or.lower.hidden #{en ? 'Projects' : 'プロジェクト'}

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup: .ui.divided.list
    a.item(href='#body')
      i.chevron.circle.up.icon
      .content #{en ? 'Top' : 'トップ'}
    a.item(href=`#history`)
      i.history.icon
      .content #{en ? 'Updates' : '近況'}
    a.item(href=`#projects`)
      i.lab.icon
      .content #{en ? 'Projects' : 'プロジェクト'}
    .item
      .ui.list
        a.item(href=`${basePath}#recent-projects`) #{en ? 'Recent projects' : '最近のプロジェクト'}
        a.item(href=`${basePath}#previous-projects`) #{en ? 'Previous projects' : '以前のプロジェクト'}
        a.item(href=`${basePath}#private-projects`) #{en ? 'Private projects' : '趣味プロジェクト'}
    a.item(href='#contact')
      i.address.card.icon
      .content #{en ? 'Contact' : '連絡先'}

block main
  h1.ui.header
    img.ui.circular.image(src=`${rootPath}images/junkato.jpg`)
    .content #{author}
      .sub.header
        - if (en) {
        | Human-Computer Interaction researcher, Ph.D. (Computer Science)
        - } else {
        | Human-Computer Interaction 研究者，博士（情報理工学）
        - }
  +about()
  #history: +history()
  .ui.hidden.divider
  #projects: +projects()
  .ui.hidden.divider
  #contact: +contact()

block scripts
  script(type='text/javascript', src=`${rootPath}javascripts/views/index.js`)

mixin about()
  .ui.basic.segment#about
    block about
      .ui.stackable.grid
        .eight.wide.column
          h5.ui.header Research area
          p I am interested in broad area of <strong>Human-Computer Interaction (HCI)</strong>, and have been especially focused on designing <strong>user interfaces</strong> and <strong>integrated environments</strong> for <strong>creativity support</strong>. Improving <strong>Programming Experience (PX)</strong> is an important subgoal to support the creativity of people with diverse technical backgrounds.
        .eight.wide.column
          h5.ui.header Bio
          p Jun Kato is a <abbr title="Human-Computer Interaction">HCI</abbr> researcher at 
            a(href='https://www.aist.go.jp/index_en.html'): abbr(title='National Institute of Advanced Industrial Science and Technology') AIST
            | , Japan. He worked for Microsoft and Adobe and received a Ph.D. from The University of Tokyo supervised by Prof. 
            a(href='http://www-ui.is.s.u-tokyo.ac.jp/~takeo/') Takeo Igarashi
            |  in 2014.
            | He has focused on <abbr title="Programming Experience">PX</abbr> research, founded 
            a(href='https://sigpx.org/en') SIGPX
            | , and regularly gained academic recognition such as ACM <abbr title="The SIGCHI conference on Human Factors in Computing Systems">CHI</abbr> 2013/2015 Best Paper Honorable Mention.
    .ui.basic.segment#sns
      .ui.horizontal.list
        .item
          i.file.icon
          .content: a(href=`${rootPath}resume.html`) !{en ? 'Resume/<abbr title="Curriculum Vitae">CV</abbr>' : 'レジュメ (<abbr title="Curriculum Vitae">CV</abbr>)'}
        .item
          i.google.icon
          .content: a(href='https://scholar.google.co.jp/citations?user=U88aqc8AAAAJ&hl=' + (en ? 'en' : 'ja')) Google Scholar
        .item
          i.linkedin.icon
          .content: a(href='https://jp.linkedin.com/in/jkato', title='LinkedIn') jkato
        .item
          i.facebook.icon
          .content: a(href='https://facebook.com/jun.kato', title='Facebook') jun.kato
        .item
          i.twitter.icon
          .content: a(href='https://twitter.com/' + (en ? 'junkato' : 'arcatdmz'), title='Twitter') #{en ? 'junkato' : 'arcatdmz'}
        .item
          i.github.icon
          .content: a(href='https://github.com/arcatdmz', title='GitHub') arcatdmz

mixin history()
  h2.ui.header
    i.history.icon
    .content #{en ? 'Recent updates' : '近況'}
  .ui.basic.segment
    .ui.divided.feed
      - var i = 0;
      - for (const entry of histories[lang]) {
      - if (++i > 5) break;
      .event: .content
        .date #{entry.getDateString(lang)}
        .summary !{entry.text}
      - }
  - if (histories[lang].length > 5) {
  .ui.right.aligned.basic.segment
    a.ui.left.attached.more.disabled.button
      i.zoom.icon
      | #{en ? 'More' : 'もっと見る'}
    a.ui.right.attached.all.with-popup.button(href=`${basePath}timeline/`, data-content=en ? 'Show the timeline of updates and publications' : '時系列で全ての更新履歴と発表文献を見ることができます', data-position='top right')
      i.maximize.icon
      | #{en ? 'Show all' : '全部見る'}
  - }

mixin projects()
  h2.ui.header
    i.lab.icon
    .content #{en ? 'Projects' : 'プロジェクト'}
  block projects
    p Below is the list of research projects, followed by the list of design and/or engineering projects. See 
      a(href=`${rootPath}design`)
        i.paint.brush.icon
        | Design
      |  for the design-oriented list of my projects.
  h3.ui.header#recent-projects #{en ? 'Recent research projects' : '最近の研究プロジェクト'}
  .ui.cards.projects#recent-projects-list
    - for (const p of recentProjects) {
    +render-project-card(p)
    - }
  h3.ui.header#previous-projects #{en ? 'Previous research projects' : '以前の研究プロジェクト'}
  .ui.segment: .ui.divided.items.projects#previous-projects-list
    - for (const p of projects) {
    - if (recentProjects.indexOf(p) >= 0) continue; // skip recent projects
    - if (p.category === 'committee' || p.category === 'private') continue; // skip committee and private projects
    +render-project-item(p)
    - }
  h3.ui.header#private-projects #{en ? 'Private design and/or engineering projects' : '研究以外のプロジェクト'}
  .ui.segment: .ui.divided.items.projects#private-projects-list
    - for (const p of projects) {
    - if (p.category !== 'private') continue; // skip research projects
    +render-project-item(p)
    - }

mixin contact()
  h2.ui.header
    i.address.card.icon
    .content #{en ? 'Contact' : '連絡先'}
  block contact
    p Please reach me via email or <a href="#sns" class="sns">social networking services</a> rather than telephone and facsimile when possible. I rarely check these conventional machines.
  .ui.segments
    .ui.segment
      .ui.list
        .item
          i.building.icon
          .content
            - if (en) {
            a(href='https://staff.aist.go.jp/m.goto/MIG/') Media Interaction Group
            | , 
            a(href='https://www.itri.aist.go.jp/en/') Information Technology Research Institute (ITRI)
            | , 
            a(href='https://www.aist.go.jp/index_en.html') National Institute of Advanced Industrial Science and Technology (AIST)
            - } else {
            a(href='https://www.aist.go.jp/') 国立研究開発法人 産業技術総合研究所 (<abbr title="National Institute of Advanced Industrial Science and Technology">AIST</abbr>)
            | ，
            a(href='https://www.itri.aist.go.jp/') 情報技術研究部門 (<abbr title="Information Technology Research Institute">ITRI</abbr>)
            | ，
            a(href='https://staff.aist.go.jp/m.goto/MIG/') メディアインタラクション研究グループ
            - }
        .item
          i.marker.icon
          .content #{en ? 'Central 2, 1-1-1 Umezono, Tsukuba, Ibaraki, 305-8568, Japan' : '茨城県つくば市梅園1-1-1 中央第2'}
      .ui.horizontal.list
        .item
          i.mail.icon
          .content: a(href='mailto:i@junkato.jp') i@junkato.jp
        .item
          i.phone.icon
          .content #{en ? '+81' : '0'}29-862-6622
        .item
          i.fax.icon
          .content #{en ? '+81' : '0'}29-861-3313
    .ui.secondary.right.aligned.segment
      a.ui.primary.large.with-popup.button(href=`${basePath}collaborations`, data-position='top right')
        i.handshake.icon
        | #{en ? 'Interested in collaborations?' : '共同研究しませんか？'}
      .ui.popup
        .header
          i.handshake.icon
          |  #{en ? 'Collaborations' : '共同研究'}
        .content #{en ? 'I am actively looking for collaborators in both academia and industry. Click to show more details.' : '学生の受け入れや技術提供などを行っています。クリックして詳細をご確認ください。'}

