extends _layout

block vars
  - title = en ? 'Portfolio of Jun Kato' : '加藤 淳のポートフォリオ';
  - me = '';

block projects-sidebar-menu
  a.item(href=`${basePath}projects`)
    i.gift.icon
    | #{en ? 'Projects' : 'プロジェクト'}

block projects-header-menu
  a.ui.print-hidden.mobile.hidden.item(href=`${basePath}projects`)
    i.gift.icon
    span.tablet.or.lower.hidden #{en ? 'Projects' : 'プロジェクト'}

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup: .ui.divided.list
    a.item(href='#body')
      i.chevron.circle.up.icon
      .content #{en ? 'Top' : 'トップ'}
    a.item(href='#history')
      i.history.icon
      .content #{en ? 'Updates' : '近況'}
    a.item(href='#products')
      i.gift.icon
      .content #{en ? 'Products' : 'プロダクト'}
    a.item(href='#topics')
      i.lightbulb.icon
      .content #{en ? 'Research topics' : '研究トピック'}
    a.item(href='#contact')
      i.address.card.icon
      .content #{en ? 'Contact' : '連絡先'}
  .ui.large.modal
    .header #{en ? 'Profile photo' : '著者近影'}
    .scrolling.content: .ui.stackable.columns.grid: .row
      .four.wide.column
        a.ui.fluid.circular.bordered.image(href=`${rootPath}images/junkato.highres.jpg`): img(src=`${rootPath}images/junkato.jpg`)
      .four.wide.column
        a.ui.fluid.circular.bordered.image(href=`${rootPath}images/junkato.comics.highres.png`): img(src=`${rootPath}images/junkato.comics.png`)
      .four.wide.column
        a.ui.fluid.circular.bordered.image(href=`${rootPath}images/junkato.alt.highres.jpg`): img(src=`${rootPath}images/junkato.alt.jpg`)
      .four.wide.column
        a.ui.fluid.circular.bordered.image(href=`${rootPath}images/junkato.alt2.highres.jpg`): img(src=`${rootPath}images/junkato.alt2.jpg`)
    .content
      - if (en) {
      ul
        li Click to download full resolution images.
        li The comic version was drawn by Akira Shinohara as part of the 
          a(href="https://www.aist.go.jp/aist_j/magazine/20240415.html") AIST magazine
          | .
      - } else {
      ul
        li クリックでフル解像度をダウンロードできます
        li 漫画版は
          a(href="https://www.aist.go.jp/aist_j/magazine/20240415.html") 産総研マガジン
          | に掲載された篠原 彬氏の手によるものです
      - }

block main
  h1.ui.header
    img.ui.circular.image#avatar(src=`${rootPath}images/junkato.jpg`, data-alt-src=`${rootPath}images/junkato.comics.png`)
    .content #{author}
      .sub.header
        - if (en) {
        | Human-Computer Interaction researcher, Ph.D.
        - } else {
        | 博士（情報理工学）
        - }
  +about()
  section#history: +history()
  .ui.hidden.divider
  section#projects: +projects()
  .ui.hidden.divider
  section#contact: +contact()

block scripts
  script(type='text/javascript', src=`${rootPath}javascripts/views/index.js`)

mixin about()
  .ui.basic.segment#about
    block about
      .ui.stackable.grid
        .eight.wide.column
          h5.ui.header Research area
          p I am interested in the broad area of <strong>Human-Computer Interaction (HCI)</strong>, and have been particularly passionate about <strong>how computing can contribute to cultural diversity</strong>. As such, I have focused on the design of <strong>user interfaces</strong> and <strong>integrated environments</strong> for <strong>creativity support</strong>. Improving <strong>Programming Experience (PX)</strong> is an important sub-goal to support the creativity of people with diverse technical backgrounds.
        .eight.wide.column
          h5.ui.header Bio
          p He is a Senior Researcher at 
            a(href='https://www.aist.go.jp/index_en.html'): abbr(title='National Institute of Advanced Industrial Science and Technology') AIST
            |  and the Technical Advisor (<abbr title="Principal Investigator">PI</abbr>) at 
            a(href='https://research.archinc.jp/en') Arch Research
            |  with a focus on <abbr title="Programming Experience">PX</abbr> and creativity support research. 
            | Since April 2024, he has been a Visiting Scientist at 
            a(href='https://ex-situ.lri.fr/about') Ex-Situ
            |  group, LISN, Université Paris-Saclay. 
            | He received a Ph.D. from 
            a(href='https://www-ui.is.s.u-tokyo.ac.jp/en/', title='Prof. Takeo Igarashi (User Interface Research Lab)') The University of Tokyo
            |  (2014) and has regularly gained 
            a(href=`${basePath}publications/#awards`) academic recognitions
            |  such as Honorable Mentions at ACM <abbr title="The SIGCHI conference on Human Factors in Computing Systems">CHI</abbr> (2013, 2015, 2023) and 
            a(href='https://www.ipsj.or.jp/english/organization/aboutipsj/award/ACM-Award-E.html#hdg5' title='IPSJ/ACM Award for Early Career Contributions to Global Research') IPSJ/ACM Award
            |  (2021).
    .ui.basic.segment#sns
      .ui.horizontal.list
        .item
          i.address.card.icon
          .content: a(href='#contact') #{en ? "Contact" : "連絡先"}
        .item
          i.file.icon
          .content: a(href=`${rootPath}resume.html`) !{en ? 'Resume/<abbr title="Curriculum Vitae">CV</abbr>' : 'レジュメ (<abbr title="Curriculum Vitae">CV</abbr>)'}
        .item
          i.google.icon
          .content: a(href='https://scholar.google.co.jp/citations?user=U88aqc8AAAAJ&hl=' + (en ? 'en' : 'ja')) Google Scholar
        .item
          i.linkedin.icon
          .content: a(href='https://jp.linkedin.com/in/jkato', title='LinkedIn') jkato
        .item
          i.facebook.icon
          .content: a(href='https://facebook.com/jun.kato', title='Facebook') jun.kato
        .item
          i.twitter.icon
          .content: a(href='https://twitter.com/' + (en ? 'junkato' : 'arcatdmz'), title='Twitter') #{en ? 'junkato' : 'arcatdmz'}
        .item
          i.mastodon.icon
          .content: a(rel='me', href='https://hci.social/@junkato') @junkato@hci.social
        .item
          i.github.icon
          .content: a(href='https://github.com/arcatdmz', title='GitHub') arcatdmz

mixin history()
  h2.ui.header
    i.history.icon
    .content #{en ? 'Recent updates' : '近況'}
  .ui.basic.segment
    .ui.divided.feed
      - var i = 0;
      - for (const entry of histories[lang]) {
      - if (++i > 5) break;
      .event: .content
        .date #{entry.getDateString(lang)}
        .summary !{entry.text}
      - }
  - if (histories[lang].length > 5) {
  .ui.right.aligned.basic.segment
    a.ui.left.attached.more.disabled.button
      i.zoom.icon
      | #{en ? 'More' : 'もっと見る'}
    a.ui.right.attached.all.with-popup.button(href=`${basePath}timeline/`, data-content=en ? 'Show the timeline of updates and publications' : '時系列で全ての更新履歴と発表文献を見ることができます', data-position='top right')
      i.expand.icon
      | #{en ? 'Show all' : '全部見る'}
  - }

mixin projects()
  h2.ui.header
    i.gift.icon
    .content #{en ? 'Projects' : 'プロジェクト'}
  +products()
  +topics()

mixin products()
  h3.ui.header#products
    i.star.icon
    .content #{en ? 'Products' : 'プロダクト'}
  .ui.basic.segment
    block products
      p The following services and tools are beyond research prototypes and used in production.
    .ui.hidden.divider
    .ui.two.stackable.cards.projects#products-list
      - for (const p of products) {
      +render-project-card(p)
      - }

mixin topics()
  h3.ui.header#topics
    i.lightbulb.icon
    .content #{en ? 'Research topics' : '研究トピック'}
  .ui.basic.segment
    - for (const p of selectedProjects) {
    - if (p.isPrivateProject(lang)) continue;
    - if (!p.getLink(lang, basePath)) continue;
    .ui.two.column.stackable.grid(id=`topics-${p.project}`)
      .five.wide.column
        a.ui.fluid.bordered.image(href=p.getLink(lang, basePath)): img(src=`${rootPath}images/panels/${p.getThumbnail(lang)}`)
      .eleven.wide.column
        a.ui.header(href=p.getLink(lang, basePath)) !{p.getTitle(lang)}
        .description !{p.getDescription(lang)}
    .ui.divider
    - }
    block projects
      p For the exhaustive list of projects, see 
        a(href=`${rootPath}projects`)
          i.lab.icon
          | Projects
        | .

mixin contact()
  h2.ui.header
    i.address.card.icon
    .content #{en ? 'Contact' : '連絡先'}
  .ui.basic.segment
    block contact
      p Please reach me via email or <a href="#sns" class="sns">social networking services</a> rather than telephone and facsimile when possible. I rarely check these conventional machines.
    .ui.segments
      .ui.segment
        .ui.list
          .item
            i.building.icon
            .content
              a(href='https://ex-situ.lri.fr/about') Ex-Situ Group
              | , 
              a(href='https://www.lisn.upsaclay.fr/') Laboratoire Interdisciplinaire des Sciences du Numérique (LISN)
              | , 
              a(href='https://www.universite-paris-saclay.fr/en') Université Paris-Saclay
          .item
            i.marker.icon
            .content Bâtiment 650, Université Paris-Saclay, 91405 ORSAY Cedex, France
        hr.ui.divider
        .ui.list.grey
          .item
            i.building.icon
            .content
              - if (en) {
              a(href='https://unit.aist.go.jp/hiiri/meirg/') Media Interaction Group
              | , 
              a(href='https://unit.aist.go.jp/hiiri/index-en.html') Human Informatics and Interaction Research Institute (HIIRI)
              | , 
              a(href='https://www.aist.go.jp/index_en.html') National Institute of Advanced Industrial Science and Technology (AIST)
              - } else {
              a(href='https://www.aist.go.jp/') 国立研究開発法人 産業技術総合研究所 (<abbr title="National Institute of Advanced Industrial Science and Technology">AIST</abbr>)
              | , 
              a(href='https://unit.aist.go.jp/hiiri/') 人間情報インタラクション研究部門 (<abbr title="Human Informatics and Interaction Research Institute">HIIRI</abbr>)
              | , 
              a(href='https://unit.aist.go.jp/hiiri/meirg/') メディアインタラクション研究グループ
              - }
          .item
            i.marker.icon
            .content #{en ? 'Central 2, 1-1-1 Umezono, Tsukuba, Ibaraki, 305-8568, Japan' : '305-8568 茨城県つくば市梅園1-1-1 中央事業所2群'}
        hr.ui.divider
        .ui.horizontal.list
          .item
            i.mail.icon
            .content: a(href='mailto:i@junkato.jp') i@junkato.jp
          .item
            i.phone.icon
            .content #{en ? '+81' : '0'}50-3522-3432
      .ui.secondary.right.aligned.segment
        a.ui.primary.large.with-popup.labeled.icon.button(href=`${basePath}collaborations`, data-position='top right')
          i.handshake.icon
          | #{en ? 'Interested in collaborations?' : '共同研究しませんか？'}
        .ui.popup
          .header
            i.handshake.icon
            |  #{en ? 'Collaborations' : '共同研究'}
          .content #{en ? 'I am actively looking for collaborators in both academia and industry. Click to show more details.' : '学生の受け入れや技術提供などを行っています。クリックして詳細をご確認ください。'}
