extends _layout

block vars
  - var title = en ? 'Update history' : '更新履歴';
  - var me = 'updates.html';

block main
  h1.ui.header
    i.history.icon
    .content #{title}
  - var i = 0, year = histories[lang][0].date.getYear() + 1;
  - while (i < histories[lang].length) {
  - const y = year + 1900;
  h2.ui.header(id=y) #{y}
  .ui.divided.list
    - while (i < histories[lang].length) {
    - const entry = histories[lang][i];
    - if (entry.date.getYear() !== year) {
    - year = entry.date.getYear();
    - break;
    - }
    .item
      i.right.triangle.icon
      .content
        .header !{entry.text}
        .description #{entry.getDateString(lang)}
    - i ++;
    - }
  - }

block scripts
  script(type='text/javascript', src='/javascripts/updates.js')
