extends ../_layout

block vars
  - title = en ? 'Projects' : 'プロジェクト';
  - me = 'projects/';
  - var bodyClass = 'with-rail';

block main
  .left-rail
    +publications-menu()
  .right-content
    h1.ui.header
      i.gift.icon
      .content #{en ? 'Projects' : 'プロジェクト'}
    +about()
    .ui.hidden.divider
    section#research: +research()
    .ui.hidden.divider
    section#design-and-engineering: +design-and-engineering()

block post-footer
  a.ui.circular.icon.popup-menu.large.grey.hidden.mobile-only.button
    i.sidebar.icon
  .ui.hidden.popup-menu.popup
    +publications-menu()

mixin publications-menu()
  .ui.divided.list
    a.item(href='#research')
      i.lab.icon
      .content #{en ? 'Research' : '研究'}
    a.item(href='#design-and-engineering')
      i.paint.brush.icon
      .content #{en ? 'Design and Engineering' : 'デザイン・開発'}

mixin about()
  .ui.basic.segment#about
    block projects
      p This page shows the list of research projects. See 
        a(href=`${rootPath}design`)
          i.paint.brush.icon
          | Design
        |  for the design-oriented list of my projects.

mixin research()
  h2.ui.header
    i.lab.icon
    .content #{en ? 'Research projects' : '研究プロジェクト'}
  .ui.basic.segment
    block research
      p The following research-oriented projects have been conducted under a certain scientific context and most of them have been published at archival venues.
    .ui.divided.items.projects#other-projects-list
      - for (const p of projects) {
      //- skip concept, committee, and private projects
      - if (p.isPrivateProject(lang) || p.category === 'concept' || p.category === 'committee' || p.category === 'private') continue;
      +render-project-item(p)
      - }

mixin design-and-engineering()
  h2.ui.header
    i.paint.brush.icon
    .content #{en ? 'Design and/or engineering projects' : 'デザイン・開発プロジェクト'}
  .ui.basic.segment
    block design-and-engineering
      p The following design and engineering projects have been conducted as part of my hobby or probono activities.
    .ui.divided.items.projects#design-and-engineering-projects-list
      - for (const p of projects) {
      //- skip research projects
      - if (p.isPrivateProject(lang) || p.category !== 'private') continue;
      +render-project-item(p)
      - }
